{
  "x-generator": "NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "TzKT API",
    "description": "# Introduction\r\n\r\nTzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer. \r\nYou can fetch all historical data via REST API, or subscribe for real-time data via WebSocket API. TzKT was built by the joint efforts of the entire Tezos community \r\nto help developers build more services and dapps on top of Tezos.\r\n\r\nTzKT Indexer and API are [open-source](https://github.com/baking-bad/tzkt), so don't be afraid to depend on the third-party service,\r\nbecause you can always clone, build and run it yourself to have full control over all the components.\r\n\r\nFeel free to contact us if you have any questions or feature requests.\r\nYour feedback is much appreciated!\r\n\r\n- Discord: https://discord.gg/aG8XKuwsQd\r\n- Telegram: https://t.me/baking_bad_chat\r\n- X: https://x.com/TezosBakingBad\r\n- Email: hello@bakingbad.dev\r\n\r\nAnd don't forget to star TzKT [on GitHub](https://github.com/baking-bad/tzkt) if you like it 😊\r\n\r\n# Get Started\r\n\r\nThere are two API services provided for public use:\r\n- **Free TzKT API** with free anonymous access;\r\n- **TzKT Pro** with paid subscriptions with increased rate limits, off-chain data, extended support and business-level SLA.\r\n\r\nYou can find more details about differences between available tiers [here](https://tzkt.io/api).\r\n\r\n## Free TzKT API\r\n\r\nFree-tier TzKT API is the best way to get started and explore available Tezos data and API functionality.\r\nIt doesn't require authorization and is free for everyone and for both commercial and non-commercial use.\r\n\r\n> #### Note: attribution required\r\nIf you use free-tier TzKT API, you **must** mention it on your website or application by placing the label\r\n\"Powered by TzKT API\", or \"Built with TzKT API\", or \"Data provided by TzKT API\" with a direct link to [tzkt.io](https://tzkt.io).\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://api.tzkt.io/` or `https://api.mainnet.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Ghostnet: `https://api.ghostnet.tzkt.io/` ([view docs](https://api.ghostnet.tzkt.io))\r\n- Shadownet: `https://api.shadownet.tzkt.io/` ([view docs](https://api.shadownet.tzkt.io))\r\n- Seoulnet: `https://api.seoulnet.tzkt.io/` ([view docs](https://api.seoulnet.tzkt.io))\r\n- Tallinnnet: `https://api.tallinnnet.tzkt.io/` ([view docs](https://api.tallinnnet.tzkt.io))\r\n\r\n### Sending Requests\r\n\r\nTo send a request to Free TzKT API you need literally nothing. Just take the base URL of the particular network\r\n(for example, Tezos mainnet: `https://api.tzkt.io`) and append the path of the particular endpoint\r\n(for example, chain's head: `/v1/head`), that's pretty much it: \r\n\r\n```bash\r\ncurl https://api.tzkt.io/v1/head\r\n```\r\n\r\nRead through this documentation to explore available endpoints, query parameters\r\n(note, if you click on a query parameter, you will see available modes, such as `.eq`, `.in`, etc.)\r\nand response models. If you have any questions, do not hesitate to ask for support, Tezos community has always been very friendly! 😉\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits.\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n\r\n## TzKT Pro\r\n\r\nTzKT Pro is intended for professional use, for those who seek for extended capabilities, performance, reliability and business-level SLA.\r\nTzKT Pro service is provided via paid subscriptions. Please, refer to [Pricing Plans](https://tzkt.io/api) to check available tiers.\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://pro.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Testnets: *let us know if you need TzKT Pro for testnets*\r\n\r\n### Authorization\r\n\r\nTo access TzKT Pro you will need to authorize requests with your personal API key, that you will receive on your email after purchasing a subscription.\r\nThis can be done by adding the query string parameter `?apikey={your_key}` or by adding the HTTP header `apikey: {your_key}`.\r\n\r\nNote that you can have multiple API keys within a single subscription.\r\n\r\nKeep your API keys private, do not publish it anywhere and do not hardcode it, especially in public repositories.\r\nIf your key was compromised, just let us know and we will issue a new one.\r\n\r\nAlso note that passing the API key via HTTP headers is more secure, because in HTTPS headers are encrypted,\r\nbut query string is not, so the key can be unintentionally exposed to third parties.\r\n\r\n### Sending Requests\r\n\r\nSending a request with the API key passed as a query string parameter:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head?apikey={your_key}\r\n```\r\n\r\nSending a request with the API key passed via an HTTP header:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head \\\r\n    -H 'apikey: {your_key}'\r\n```\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits for different pricing plans.\r\n\r\nAlso, TzKT Pro provides you with the additional HTTP headers to show the allowed limits, number of available requests\r\nand the time remaining (in seconds) until the quota is reset. Here's an example:\r\n\r\n```\r\nRateLimit-Limit: 50\r\nRateLimit-Remaining: 49\r\nRateLimit-Reset: 1\r\n```\r\n\r\nIt also sends general information about your rate limits per second and per day:\r\n\r\n```\r\nX-RateLimit-Limit-Second: 50\r\nX-RateLimit-Remaining-Second: 49\r\nX-RateLimit-Limit-Day: 3000000\r\nX-RateLimit-Remaining-Day: 2994953\r\n```\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n",
    "contact": {
      "name": "Baking Bad Team",
      "url": "https://bakingbad.dev",
      "email": "hello@bakingbad.dev"
    },
    "version": "1.17.1",
    "x-logo": {
      "url": "https://tzkt.io/logo.png",
      "href": "https://tzkt.io/"
    }
  },
  "servers": [
    {
      "url": "https://api.tzkt.io"
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts",
        "description": "Returns a list of accounts.",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filters by internal id.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "address",
            "in": "query",
            "description": "Filters by address.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AddressParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters accounts by contract kind (`delegator_contract` or `smart_contract`)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ContractKindParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "delegator_contract,smart_contract"
          },
          {
            "name": "delegate",
            "in": "query",
            "description": "Filters accounts by delegate. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "stakedPseudotokens",
            "in": "query",
            "description": "Filters accounts by amount of staked pseudotokens.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigIntegerNullableParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters accounts by balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "staked",
            "in": "query",
            "description": "Filters accounts by participation in staking",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BoolParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "lastActivity",
            "in": "query",
            "description": "Filters accounts by last activity level (where the account was updated)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `rollupBonds`, `firstActivity`, `lastActivity`, `numTransactions`, `numContracts`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 11,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 12,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 13
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/activity": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts activity",
        "operationId": "Accounts_GetActivity",
        "parameters": [
          {
            "name": "addresses",
            "in": "query",
            "description": "Comma-separated list of account addresses to get activity of.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "roles",
            "in": "query",
            "description": "Comma-separated list of activity roles (`sender`, `target`, `initiator`, `mention`) to filter activity by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated list of activity types (`activation`, `autostaking`, `baking`, `ballot`, `dal_attestation_reward`,\n            `dal_entrapment_evidence`, `dal_publish_commitment`, `delegation`, `double_baking`, `double_consensus`, `drain_delegate`, \n            `attestation`, `attestation_reward`, `increase_paid_storage`, `migration`, `nonce_revelation`, `origination`, `preattestation`, `proposal`,\n            `register_constant`, `reveal`, `revelation_penalty`, `set_delegate_parameters`, `set_deposits_limit`, `sr_add_messages`, `sr_cement`, `sr_execute`,\n            `sr_originate`, `sr_publish`, `sr_recover_bond`, `sr_refute`, `staking`, `transaction`, `transfer_ticket`, `tx_rollup_commit`, `tx_rollup_dispatch_tickets`,\n            `tx_rollup_finalize_commitment`, `tx_rollup_origination`, `tx_rollup_rejection`, `tx_rollup_remove_commitment`, `tx_rollup_return_bond`, `tx_rollup_submit_batch`,\n            `vdf_revelation`, `update_secondary_key`, `ticket_transfer`, `token_transfer`)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filter activity by timestamp.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort mode: 0 - asc (oldest to newest), 1 - desc (newest to oldest).",
            "schema": {
              "default": "Descending",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortMode"
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "Id of the last activity element received, which is used for cursor pagination.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of elements to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 1000.0,
              "minimum": 0.0
            },
            "x-position": 7
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string.",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 8
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response.",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 9
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/count": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts count",
        "description": "Returns a number of accounts.",
        "operationId": "Accounts_GetCount",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters accounts by contract kind (`delegator_contract` or `smart_contract`)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ContractKindParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "delegator_contract,smart_contract"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters accounts by balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "staked",
            "in": "query",
            "description": "Filters accounts by participation in staking",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BoolParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "firstActivity",
            "in": "query",
            "description": "Filters accounts by first activity level (where the account was created)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account by address",
        "description": "Returns an account with the specified address.",
        "operationId": "Accounts_GetByAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/contracts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account contracts",
        "description": "Returns a list of contracts created by (or related to) the specified account.",
        "operationId": "Accounts_GetContracts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts contracts by specified field. Supported fields: `id` (default, desc), `balance`, `creationLevel`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelatedContract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/delegators": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account delegators",
        "description": "Returns a list of accounts delegated to the specified account.",
        "operationId": "Accounts_GetDelegators",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters delegators by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters delegators by balance.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "delegationLevel",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `delegationLevel` (default, desc), `balance`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Delegator"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/counter": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get counter",
        "description": "Returns account counter",
        "operationId": "Accounts_GetCounter",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance",
        "description": "Returns account balance",
        "operationId": "Accounts_GetBalance",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history/{level}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance at level",
        "description": "Returns account balance* at the specified block.  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.",
        "operationId": "Accounts_GetBalanceAtLevel",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Block height at which you want to know account balance",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history/{datetime}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance at date",
        "description": "Returns account balance* at the specified datetime.  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.",
        "operationId": "Accounts_GetBalanceAtDate",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "datetime",
            "in": "path",
            "required": true,
            "description": "Datetime at which you want to know account balance (e.g. `2020-01-01`, or `2019-12-30T23:42:59Z`)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance history",
        "description": "Returns time series with historical balances* (only changes, without duplicates).  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.",
        "operationId": "Accounts_GetBalanceHistory",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "step",
            "in": "query",
            "description": "Step of the time series, for example if `step = 1000` you will get balances at blocks `1000, 2000, 3000, ...`.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts historical balances by specified field. Supported fields: `level`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 5
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 6
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoricalBalance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/report": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account report",
        "description": "Exports account balance report in .csv format",
        "operationId": "Accounts_GetBalanceReport",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start of the datetime range to filter by (ISO 8601, e.g. 2019-11-31)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the datetime range to filter by (ISO 8601, e.g. 2019-12-31)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency to convert amounts to (`btc`, `eur`, `usd`, `cny`, `jpy`, `krw`, `eth`, `gbp`)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "historical",
            "in": "query",
            "description": "`true` if you want to use historical prices, `false` to use current price",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          },
          {
            "name": "delimiter",
            "in": "query",
            "description": "Column delimiter (`comma`, `semicolon`)",
            "schema": {
              "type": "string",
              "default": "comma"
            },
            "x-position": 6
          },
          {
            "name": "separator",
            "in": "query",
            "description": "Decimal separator (`comma`, `point`)",
            "schema": {
              "type": "string",
              "default": "point"
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/count": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmaps count",
        "description": "Returns the total number of bigmaps.",
        "operationId": "BigMaps_GetBigMapsCount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmaps",
        "description": "Returns a list of bigmaps.",
        "operationId": "BigMaps_GetBigMaps",
        "parameters": [
          {
            "name": "contract",
            "in": "query",
            "description": "Filters bigmaps by smart contract address.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filters bigmaps by path in the contract storage.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filters bigmaps by tags: `metadata`, `token_metadata`, `ledger`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapTagsParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "metadata,token_metadata,ledger"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters bigmaps by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters bigmaps by the last update level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMap"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/keys": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap keys",
        "description": "Returns a list of all bigmap keys.",
        "operationId": "BigMaps_GetBigMapKeys",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by internal TzKT id.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "bigmap",
            "in": "query",
            "description": "Filter by bigmap ptr.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Filter by key hash.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ExpressionParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter by key.  \nNote, this parameter supports the following format: `key{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?key.foo.in=bar,baz`).  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filter by value.  \nNote, this parameter supports the following format: `value{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?value.foo.in=bar,baz`).  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "firstLevel",
            "in": "query",
            "description": "Filter by level of the block where the key was first seen.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "firstTime",
            "in": "query",
            "description": "Filter by timestamp (ISO 8601) of the block where the key was first seen.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filter by level of the block where the key was last seen.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "lastTime",
            "in": "query",
            "description": "Filter by timestamp (ISO 8601) of the block where the key was last seen.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "updates",
            "in": "query",
            "description": "Filter by number of actions with the bigmap key.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 11,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 12,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 13,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 14
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectionParameter"
                }
              ]
            },
            "x-position": 15,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the `key` and `value` fields: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 16
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKeyFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/updates/count": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap updates count",
        "description": "Returns a total number of bigmap updates.",
        "operationId": "BigMaps_GetBigMapUpdates",
        "parameters": [
          {
            "name": "bigmap",
            "in": "query",
            "description": "Filters by bigmap ptr",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filters by bigmap path",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by bigmap contract",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filters by bigmap tags: `metadata`, `token_metadata`, `ledger`",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapTagsParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "metadata,token_metadata,ledger"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters by action",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapActionParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "allocate,add_key,update_key,remove_key,remove"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters by level",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters by timestamp",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapUpdate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/updates": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap updates",
        "description": "Returns a list of all bigmap updates.",
        "operationId": "BigMaps_GetBigMapUpdates2",
        "parameters": [
          {
            "name": "bigmap",
            "in": "query",
            "description": "Filters by bigmap ptr",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filters by bigmap path",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filters by bigmap contract",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filters by bigmap tags: `metadata`, `token_metadata`, `ledger`",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapTagsParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "metadata,token_metadata,ledger"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters by action",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapActionParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "allocate,add_key,update_key,remove_key,remove"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters by level",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters by timestamp",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 11
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapUpdate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap by Id",
        "description": "Returns a bigmap with the specified Id.",
        "operationId": "BigMaps_GetBigMapById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMap"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/type": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap type",
        "description": "Returns a type of the bigmap with the specified Id in Micheline format (with annotations).",
        "operationId": "BigMaps_GetBigMapType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MichelinePrim"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap keys",
        "description": "Returns a list of bigmap keys.",
        "operationId": "BigMaps_GetKeys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters keys by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters bigmap keys by the last update level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap keys by specified field. Supported fields: `id` (default), `firstLevel`, `lastLevel`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys/{key}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap key",
        "description": "Returns the specified bigmap key.",
        "operationId": "BigMaps_GetKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMapKey"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys/{key}/updates": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap key updates",
        "description": "Returns updates history for the specified bigmap key.",
        "operationId": "BigMaps_GetKeyUpdates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap updates by specified field. Supported fields: `id` (default).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 5
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the key value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKeyUpdate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/historical_keys/{level}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get historical keys",
        "description": "Returns a list of bigmap keys at the specific block.",
        "operationId": "BigMaps_GetHistoricalKeys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level of the block at which you want to get bigmap keys",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters keys by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap keys by specified field. Supported fields: `id` (default).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKeyHistorical"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/historical_keys/{level}/{key}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get historical key",
        "description": "Returns the specified bigmap key at the specific block.",
        "operationId": "BigMaps_GetKey2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level of the block at which you want to get bigmap key",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMapKeyHistorical"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/count": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get blocks count",
        "description": "Returns the total number of blocks.",
        "operationId": "Blocks_GetCount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get blocks",
        "description": "Returns a list of blocks.",
        "operationId": "Blocks_Get",
        "parameters": [
          {
            "name": "anyof",
            "in": "query",
            "description": "Filters by any of the specified fields. Example: `anyof.proposer.producer=tz1...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AnyOfParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "anyof-parameter",
            "x-tzkt-anyof-parameter": "proposer,producer"
          },
          {
            "name": "proposer",
            "in": "query",
            "description": "Filters blocks by block proposer. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "producer",
            "in": "query",
            "description": "Filters blocks by block producer. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters blocks by level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters blocks by timestamp.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DateTimeParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "blockRound",
            "in": "query",
            "description": "Filters blocks by block round.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts blocks by specified field. Supported fields: `id` (default), `level`, `payloadRound`, `blockRound`, `attestationPower`, `reward`, `bonus`, `fees`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 10
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 11
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{hash}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block by hash",
        "description": "Returns a block with the specified hash.",
        "operationId": "Blocks_GetByHash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Block hash",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "operations",
            "in": "query",
            "description": "Flag indicating whether to include block operations into returned object or not",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{level}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block by level",
        "description": "Returns a block at the specified level.",
        "operationId": "Blocks_GetByLevel",
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Block level",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "operations",
            "in": "query",
            "description": "Flag indicating whether to include block operations into returned object or not",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{level}/timestamp": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get timestamp by level",
        "description": "Returns a timestamp of the block at the specified level.",
        "operationId": "Blocks_GetByLevel2",
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Block level",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{timestamp}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block by timestamp",
        "description": "Returns a block closest to the specified timestamp.",
        "operationId": "Blocks_GetByDate",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "description": "Timestamp, e.g. `2020-01-01T00:00:00Z`",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 1
          },
          {
            "name": "operations",
            "in": "query",
            "description": "Flag indicating whether to include block operations into returned object or not",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{timestamp}/level": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get level by timestamp",
        "description": "Returns a level of the block closest to the specified timestamp.",
        "operationId": "Blocks_GetByDate2",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "description": "Timestamp, e.g. `2020-01-01T00:00:00Z`",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
[...]
