openapi: 3.0.0
info:
  title: TzKT Accounts Operations API
  description: "# Introduction\r\n\r\nTzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer. \r\nYou can fetch all historical data via REST API, or subscribe for real-time data via WebSocket API. TzKT was built by the joint efforts of the entire Tezos community \r\nto help developers build more services and dapps on top of Tezos.\r\n\r\nTzKT Indexer and API are [open-source](https://github.com/baking-bad/tzkt), so don't be afraid to depend on the third-party service,\r\nbecause you can always clone, build and run it yourself to have full control over all the components.\r\n\r\nFeel free to contact us if you have any questions or feature requests.\r\nYour feedback is much appreciated!\r\n\r\n- Discord: https://discord.gg/aG8XKuwsQd\r\n- Telegram: https://t.me/baking_bad_chat\r\n- X: https://x.com/TezosBakingBad\r\n- Email: hello@bakingbad.dev\r\n\r\nAnd don't forget to star TzKT [on GitHub](https://github.com/baking-bad/tzkt) if you like it \U0001F60A\r\n\r\n# Get Started\r\n\r\nThere are two API services provided for public use:\r\n- **Free TzKT API** with free anonymous access;\r\n- **TzKT Pro** with paid subscriptions with increased rate limits, off-chain data, extended support and business-level SLA.\r\n\r\nYou can find more details about differences between available tiers [here](https://tzkt.io/api).\r\n\r\n## Free TzKT API\r\n\r\nFree-tier TzKT API is the best way to get started and explore available Tezos data and API functionality.\r\nIt doesn't require authorization and is free for everyone and for both commercial and non-commercial use.\r\n\r\n> #### Note: attribution required\r\nIf you use free-tier TzKT API, you **must** mention it on your website or application by placing the label\r\n\"Powered by TzKT API\", or \"Built with TzKT API\", or \"Data provided by TzKT API\" with a direct link to [tzkt.io](https://tzkt.io).\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://api.tzkt.io/` or `https://api.mainnet.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Ghostnet: `https://api.ghostnet.tzkt.io/` ([view docs](https://api.ghostnet.tzkt.io))\r\n- Shadownet: `https://api.shadownet.tzkt.io/` ([view docs](https://api.shadownet.tzkt.io))\r\n- Seoulnet: `https://api.seoulnet.tzkt.io/` ([view docs](https://api.seoulnet.tzkt.io))\r\n- Tallinnnet: `https://api.tallinnnet.tzkt.io/` ([view docs](https://api.tallinnnet.tzkt.io))\r\n\r\n### Sending Requests\r\n\r\nTo send a request to Free TzKT API you need literally nothing. Just take the base URL of the particular network\r\n(for example, Tezos mainnet: `https://api.tzkt.io`) and append the path of the particular endpoint\r\n(for example, chain's head: `/v1/head`), that's pretty much it: \r\n\r\n```bash\r\ncurl https://api.tzkt.io/v1/head\r\n```\r\n\r\nRead through this documentation to explore available endpoints, query parameters\r\n(note, if you click on a query parameter, you will see available modes, such as `.eq`, `.in`, etc.)\r\nand response models. If you have any questions, do not hesitate to ask for support, Tezos community has always been very friendly! \U0001F609\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits.\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n\r\n## TzKT Pro\r\n\r\nTzKT Pro is intended for professional use, for those who seek for extended capabilities, performance, reliability and business-level SLA.\r\nTzKT Pro service is provided via paid subscriptions. Please, refer to [Pricing Plans](https://tzkt.io/api) to check available tiers.\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://pro.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Testnets: *let us know if you need TzKT Pro for testnets*\r\n\r\n### Authorization\r\n\r\nTo access TzKT Pro you will need to authorize requests with your personal API key, that you will receive on your email after purchasing a subscription.\r\nThis can be done by adding the query string parameter `?apikey={your_key}` or by adding the HTTP header `apikey: {your_key}`.\r\n\r\nNote that you can have multiple API keys within a single subscription.\r\n\r\nKeep your API keys private, do not publish it anywhere and do not hardcode it, especially in public repositories.\r\nIf your key was compromised, just let us know and we will issue a new one.\r\n\r\nAlso note that passing the API key via HTTP headers is more secure, because in HTTPS headers are encrypted,\r\nbut query string is not, so the key can be unintentionally exposed to third parties.\r\n\r\n### Sending Requests\r\n\r\nSending a request with the API key passed as a query string parameter:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head?apikey={your_key}\r\n```\r\n\r\nSending a request with the API key passed via an HTTP header:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head \\\r\n    -H 'apikey: {your_key}'\r\n```\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits for different pricing plans.\r\n\r\nAlso, TzKT Pro provides you with the additional HTTP headers to show the allowed limits, number of available requests\r\nand the time remaining (in seconds) until the quota is reset. Here's an example:\r\n\r\n```\r\nRateLimit-Limit: 50\r\nRateLimit-Remaining: 49\r\nRateLimit-Reset: 1\r\n```\r\n\r\nIt also sends general information about your rate limits per second and per day:\r\n\r\n```\r\nX-RateLimit-Limit-Second: 50\r\nX-RateLimit-Remaining-Second: 49\r\nX-RateLimit-Limit-Day: 3000000\r\nX-RateLimit-Remaining-Day: 2994953\r\n```\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n"
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Operations
paths:
  /v1/operations/{hash}:
    get:
      tags:
      - Operations
      summary: Get operations by hash
      description: "Returns a list of operations with the specified hash.  \n**NOTE: if you know in advance what operation type you want to get (e.g. transactions), prefer using `/v1/operations/{type}/{hash}`\n(e.g. [/v1/operations/transactions/{hash}](#operation/Operations_GetTransactionByHash)) instead, because it's much more efficient.**"
      operationId: Operations_GetByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 2
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operation'
  /v1/operations/{hash}/{counter}:
    get:
      tags:
      - Operations
      summary: Get operations by hash and counter
      description: "Returns a list of operations with the specified hash and counter.  \n**NOTE: if you know in advance what operation type you want to get (e.g. transactions), prefer using `/v1/operations/{type}/{hash}/{counter}`\n(e.g. [/v1/operations/transactions/{hash}/{counter}](#operation/Operations_GetTransactionByHashCounter)) instead, because it's much more efficient.**"
      operationId: Operations_GetByHashCounter
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: counter
        in: path
        required: true
        description: Operation counter
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 3
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operation'
  /v1/operations/{hash}/{counter}/{nonce}:
    get:
      tags:
      - Operations
      summary: Get operations by hash, counter and nonce
      description: "Returns an internal operations with the specified hash, counter and nonce.  \n**NOTE: if you know in advance what operation type you want to get (e.g. transactions), prefer using `/v1/operations/{type}/{hash}/{counter}/{nonce}`\n(e.g. [/v1/operations/transactions/{hash}/{counter}/{nonce}](#operation/Operations_GetTransactionByHashCounterNonce)) instead, because it's much more efficient.**"
      operationId: Operations_GetByHashCounterNonce
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: counter
        in: path
        required: true
        description: Operation counter
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: nonce
        in: path
        required: true
        description: Operation nonce (internal)
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 4
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operation'
  /v1/operations/{hash}/status:
    get:
      tags:
      - Operations
      summary: Get operation status
      description: "Returns operation status: `true` if applied, `false` if failed, `null` (or HTTP 204) if doesn't exist.  \n**NOTE: if you know in advance what operation type you want to check (e.g. transactions), prefer using `/v1/operations/{type}/{hash}/status`\n(e.g. [/v1/operations/transactions/{hash}/status](#operation/Operations_GetTransactionStatus)) instead, because it's much more efficient.**"
      operationId: Operations_GetStatus
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: boolean
                nullable: true
  /v1/operations/attestations:
    get:
      tags:
      - Operations
      summary: Get attestations
      description: Returns a list of attestation operations.
      operationId: Operations_GetAttestations
      parameters:
      - name: delegate
        in: query
        description: 'Filters attestations by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters attestations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters attestations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts attestations by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 8
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 9
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttestationOperation'
  /v1/operations/attestations/{hash}:
    get:
      tags:
      - Operations
      summary: Get attestation by hash
      description: Returns an attestation operation with specified hash.
      operationId: Operations_GetAttestationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttestationOperation'
  /v1/operations/attestations/count:
    get:
      tags:
      - Operations
      summary: Get attestations count
      description: Returns the total number of attestation operations.
      operationId: Operations_GetAttestationsCount
      parameters:
      - name: level
        in: query
        description: Filters attestations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters attestations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/operations/preattestations:
    get:
      tags:
      - Operations
      summary: Get preattestations
      description: Returns a list of preattestation operations.
      operationId: Operations_GetPreattestations
      parameters:
      - name: delegate
        in: query
        description: 'Filters by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 8
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreattestationOperation'
  /v1/operations/preattestations/{hash}:
    get:
      tags:
      - Operations
      summary: Get preattestation by hash
      description: Returns an preattestation operation with specified hash.
      operationId: Operations_GetPreattestationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreattestationOperation'
  /v1/operations/preattestations/count:
    get:
      tags:
      - Operations
      summary: Get preattestations count
      description: Returns the total number of preattestation operations.
      operationId: Operations_GetPreattestationsCount
      parameters:
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/ballots:
    get:
      tags:
      - Operations
      summary: Get ballots
      description: Returns a list of ballot operations.
      operationId: Operations_GetBallots
      parameters:
      - name: delegate
        in: query
        description: 'Filters ballots by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters ballots by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters ballots by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: epoch
        in: query
        description: Filters ballots by voting epoch.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: period
        in: query
        description: Filters ballots by voting period.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: proposal
        in: query
        description: Filters ballots by proposal hash.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ProtocolParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: vote
        in: query
        description: Filters ballots by vote (`yay`, `nay`, `pass`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/VoteParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: yay,nay,pass
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts ballots by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BallotOperation'
  /v1/operations/ballots/{hash}:
    get:
      tags:
      - Operations
      summary: Get ballot by hash
      description: Returns a ballot operation with specified hash.
      operationId: Operations_GetBallotByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BallotOperation'
  /v1/operations/ballots/count:
    get:
      tags:
      - Operations
      summary: Get ballots count
      description: Returns the total number of ballot operations.
      operationId: Operations_GetBallotsCount
      parameters:
      - name: level
        in: query
        description: Filters ballot operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters ballot operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/proposals:
    get:
      tags:
      - Operations
      summary: Get proposals
      description: Returns a list of proposal operations.
      operationId: Operations_GetProposals
      parameters:
      - name: delegate
        in: query
        description: 'Filters proposal operations by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters proposal operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters proposal operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: epoch
        in: query
        description: Filters proposal operations by voting epoch.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: period
        in: query
        description: Filters proposal operations by voting period.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: proposal
        in: query
        description: Filters proposal operations by proposal hash.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ProtocolParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: duplicated
        in: query
        description: Specify whether to include or exclude duplicates, which didn't actually upvote a proposal.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts proposal operations by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProposalOperation'
  /v1/operations/proposals/{hash}:
    get:
      tags:
      - Operations
      summary: Get proposal by hash
      description: Returns a proposal operation with specified hash.
      operationId: Operations_GetProposalByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProposalOperation'
  /v1/operations/proposals/count:
    get:
      tags:
      - Operations
      summary: Get proposals count
      description: Returns the total number of proposal operations.
      operationId: Operations_GetProposalsCount
      parameters:
      - name: level
        in: query
        description: Filters proposal operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters proposal operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/activations:
    get:
      tags:
      - Operations
      summary: Get activations
      description: Returns a list of activation operations.
      operationId: Operations_GetActivations
      parameters:
      - name: account
        in: query
        description: 'Filters activations by account. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters activations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters activations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts activations by specified field. Supported fields: `id` (default), `level`, `balance`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 8
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivationOperation'
  /v1/operations/activations/{hash}:
    get:
      tags:
      - Operations
      summary: Get activation by hash
      description: Returns an activation operation with specified hash.
      operationId: Operations_GetActivationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivationOperation'
  /v1/operations/activations/count:
    get:
      tags:
      - Operations
      summary: Get activations count
      description: Returns the total number of activation operations.
      operationId: Operations_GetActivationsCount
      parameters:
      - name: level
        in: query
        description: Filters activations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters activations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/dal_entrapment_evidence:
    get:
      tags:
      - Operations
      summary: Get dal entrapment evidences
      description: Returns a list of dal entrapment evidence operations.
      operationId: Operations_GetDalEntrapmentEvidenceOps
      parameters:
      - name: anyof
        in: query
        description: 'Filters by any of the specified fields. Example: `anyof.accuser.offender=tz1...` will return operations where `accuser` OR `offender` is equal to the specified value. This parameter is useful when you need to retrieve all operations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: accuser,offender
      - name: accuser
        in: query
        description: 'Filters by accuser. Allowed fields for `.eqx` mode: `offender`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offender
        in: query
        description: 'Filters by offender. Allowed fields for `.eqx` mode: `accuser`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts by specified field. Supported fields: `id` (default), `level`, `trapLevel`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 10
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 11
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DalEntrapmentEvidenceOperation'
  /v1/operations/dal_entrapment_evidence/{hash}:
    get:
      tags:
      - Operations
      summary: Get dal entrapment evidence by hash
      description: Returns dal entrapment evidence operations with specified hash.
      operationId: Operations_GetDalEntrapmentEvidenceOpsByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DalEntrapmentEvidenceOperation'
  /v1/operations/dal_entrapment_evidence/count:
    get:
      tags:
      - Operations
      summary: Get dal entrapment evidences count
      description: Returns the total number of dal entrapment evidence operations.
      operationId: Operations_GetDalEntrapmentEvidenceOpsCount
      parameters:
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/double_baking:
    get:
      tags:
      - Operations
      summary: Get double baking
      description: Returns a list of double baking operations.
      operationId: Operations_GetDoubleBaking
      parameters:
      - name: anyof
        in: query
        description: 'Filters double baking operations by any of the specified fields. Example: `anyof.accuser.offender=tz1...` will return operations where `accuser` OR `offender` is equal to the specified value. This parameter is useful when you need to retrieve all operations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: accuser,offender
      - name: accuser
        in: query
        description: 'Filters double baking operations by accuser. Allowed fields for `.eqx` mode: `offender`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offender
        in: query
        description: 'Filters double baking operations by offender. Allowed fields for `.eqx` mode: `accuser`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters double baking operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters double baking operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts double baking operations by specified field. Supported fields: `id` (default), `level`, `accusedLevel`, `accuserRewards`, `offenderLostDeposits`, `offenderLostRewards`, `offenderLostFees`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 10
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 11
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoubleBakingOperation'
  /v1/operations/double_baking/{hash}:
    get:
      tags:
      - Operations
      summary: Get double baking by hash
      description: Returns a double baking operation with specified hash.
      operationId: Operations_GetDoubleBakingByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoubleBakingOperation'
  /v1/operations/double_baking/count:
    get:
      tags:
      - Operations
      summary: Get double baking count
      description: Returns the total number of double baking operations.
      operationId: Operations_GetDoubleBakingCount
      parameters:
      - name: level
        in: query
        description: Filters double baking operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters double baking operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/double_consensus:
    get:
      tags:
      - Operations
      summary: Get double consensus
      description: Returns a list of double consensus operations.
      operationId: Operations_GetDoubleConsensus
      parameters:
      - name: anyof
        in: query
        description: 'Filter by any of the specified fields. Example: `anyof.accuser.offender=tz1...` will return operations where `accuser` OR `offender` is equal to the specified value. This parameter is useful when you need to retrieve all operations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: accuser,offender
      - name: accuser
        in: query
        description: 'Filter by accuser. Allowed fields for `.eqx` mode: `offender`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offender
        in: query
        description: 'Filter by offender. Allowed fields for `.eqx` mode: `accuser`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filter by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: kind
        in: query
        description: Filter by misbehaviour kind (`double_attestation` or `double_preattestation`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DoubleConsensusKindParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: double_attestation,double_preattestation
      - name: level
        in: query
        description: Filter by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filter by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sort by specified field. Supported fields: `id` (default), `level`, `accusedLevel`, `accuserRewards`, `offenderLostDeposits`, `offenderLostRewards`, `offenderLostFees`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoubleConsensusOperation'
  /v1/operations/double_consensus/{hash}:
    get:
      tags:
      - Operations
      summary: Get double consensus by hash
      description: Returns a double consensus operation with specified hash.
      operationId: Operations_GetDoubleConsensusByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoubleConsensusOperation'
  /v1/operations/double_consensus/count:
    get:
      tags:
      - Operations
      summary: Get double consensus count
      description: Returns the total number of double consensus operations.
      operationId: Operations_GetDoubleConsensusCount
      parameters:
      - name: kind
        in: query
        description: Filter by misbehaviour kind (`double_attestation` or `double_preattestation`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DoubleConsensusKindParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: double_attestation,double_preattestation
      - name: level
        in: query
        description: Filter by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filter by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/nonce_revelations:
    get:
      tags:
      - Operations
      summary: Get nonce revelations
      description: Returns a list of seed nonce revelation operations.
      operationId: Operations_GetNonceRevelations
      parameters:
      - name: anyof
        in: query
        description: 'Filters nonce revelation operations by any of the specified fields. Example: `anyof.baker.sender=tz1...` will return operations where `baker` OR `sender` is equal to the specified value. This parameter is useful when you need to retrieve all operations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: baker,sender
      - name: baker
        in: query
        description: 'Filters nonce revelation operations by baker. Allowed fields for `.eqx` mode: `sender`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: sender
        in: query
        description: 'Filters nonce revelation operations by sender. Allowed fields for `.eqx` mode: `baker`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters nonce revelation operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: revealedCycle
        in: query
        description: Filters by cycle for which the nonce was revealed.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters nonce revelation operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts nonce revelation operations by specified field. Supported fields: `id` (default), `level`, `revealedLevel`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NonceRevelationOperation'
  /v1/operations/nonce_revelations/{hash}:
    get:
      tags:
      - Operations
      summary: Get nonce revelation by hash
      description: Returns a seed nonce revelation operation with specified hash.
      operationId: Operations_GetNonceRevelationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NonceRevelationOperation'
  /v1/operations/nonce_revelations/count:
    get:
      tags:
      - Operations
      summary: Get nonce revelations count
      description: Returns the total number of seed nonce revelation operations.
      operationId: Operations_GetNonceRevelationsCount
      parameters:
      - name: level
        in: query
        description: Filters seed nonce revelation operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters seed nonce revelation operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/vdf_revelations:
    get:
      tags:
      - Operations
      summary: Get vdf revelations
      description: Returns a list of vdf revelation operations.
      operationId: Operations_GetVdfRevelations
      parameters:
      - name: baker
        in: query
        description: 'Filters by baker. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: cycle
        in: query
        description: Filters by cycle in which the operation was included.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VdfRevelationOperation'
  /v1/operations/vdf_revelations/{hash}:
    get:
      tags:
      - Operations
      summary: Get vdf revelation by hash
      description: Returns a vdf revelation operation with specified hash.
      operationId: Operations_GetVdfRevelationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VdfRevelationOperation'
  /v1/operations/vdf_revelations/count:
    get:
      tags:
      - Operations
      summary: Get vdf revelations count
      description: Returns the total number of vdf revelation operations.
      operationId: Operations_GetVdfRevelationsCount
      parameters:
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/drain_delegate:
    get:
      tags:
      - Operations
      summary: Get drain delegate
      description: Returns a list of drain delegate operations.
      operationId: Operations_GetDrainDelegateOps
      parameters:
      - name: anyof
        in: query
        description: 'Filters by any of the specified fields. Example: `anyof.delegate.target=tz1...` will return operations where `delegate` OR `target` is equal to the specified value. This parameter is useful when you need to retrieve all operations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: delegate,target
      - name: delegate
        in: query
        description: 'Filters by drained baker. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: target
        in: query
        description: 'Filters by target. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts by specified field. Supported fields: `id` (default), `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DrainDelegateOperation'
  /v1/operations/drain_delegate/{hash}:
    get:
      tags:
      - Operations
      summary: Get drain delegate by hash
      description: Returns a drain delegate operation with specified hash.
      operationId: Operations_GetDrainDelegateByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DrainDelegateOperation'
  /v1/operations/drain_delegate/count:
    get:
      tags:
      - Operations
      summary: Get drain delegate count
      description: Returns the total number of drain delegate operations.
      operationId: Operations_GetDrainDelegateOpsCount
      parameters:
      - name: level
        in: query
        description: Filters by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/delegations:
    get:
      tags:
      - Operations
      summary: Get delegations
      description: Returns a list of delegation operations.
      operationId: Operations_GetDelegations
      parameters:
      - name: anyof
        in: query
        description: 'Filters delegations by any of the specified fields. Example: `anyof.prevDelegate.newDelegate=tz1...` will return operations where `prevDelegate` OR `newDelegate` is equal to the specified value. This parameter is useful when you need to retrieve all delegations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: sender,prevDelegate,newDelegate
      - name: initiator
        in: query
        description: 'Filters delegations by initiator. Allowed fields for `.eqx` mode: `prevDelegate`, `newDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: sender
        in: query
        description: 'Filters delegations by sender. Allowed fields for `.eqx` mode: `prevDelegate`, `newDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: prevDelegate
        in: query
        description: 'Filters delegations by prev delegate. Allowed fields for `.eqx` mode: `initiator`, `sender`, `newDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: newDelegate
        in: query
        description: 'Filters delegations by new delegate. Allowed fields for `.eqx` mode: `initiator`, `sender`, `prevDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters operations by internal TzKT id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters delegations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters delegations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: senderCodeHash
        in: query
        description: Filters by `senderCodeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: status
        in: query
        description: Filters delegations by operation status (`applied`, `failed`, `backtracked`, `skipped`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OperationStatusParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: applied,failed,backtracked,skipped
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegations by specified field. Supported fields: `id` (default), `level`, `gasUsed`, `bakerFee`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 14
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 15
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DelegationOperation'
  /v1/operations/delegations/{hash}:
    get:
      tags:
      - Operations
      summary: Get delegation by hash
      description: Returns a delegation operation with specified hash.
      operationId: Operations_GetDelegationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DelegationOperation'
  /v1/operations/delegations/{hash}/status:
    get:
      tags:
      - Operations
      summary: Get delegation status
      description: 'Returns operation status: `true` if applied, `false` if failed, `null` (or HTTP 204) if doesn''t exist.'
      operationId: Operations_GetDelegationStatus
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: boolean
                nullable: true
  /v1/operations/delegations/count:
    get:
      tags:
      - Operations
      summary: Get delegations count
      description: Returns the total number of delegation operations.
      operationId: Operations_GetDelegationsCount
      parameters:
      - name: level
        in: query
        description: Filters delegations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters delegations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/originations:
    get:
      tags:
      - Operations
      summary: Get originations
      description: Returns a list of origination operations.
      operationId: Operations_GetOriginations
      parameters:
      - name: anyof
        in: query
        description: 'Filters originations by any of the specified fields. Example: `anyof.sender.initiator=tz1...` will return operations where `sender` OR `initiator` is equal to the specified value. This parameter is useful when you need to retrieve all originations associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: initiator,sender,contractDelegate,originatedContract
      - name: initiator
        in: query
        description: 'Filters origination operations by initiator. Allowed fields for `.eqx` mode: `contractDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: sender
        in: query
        description: 'Filters origination operations by sender. Allowed fields for `.eqx` mode: `contractDelegate`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: contractDelegate
        in: query
        description: 'Filters origination operations by delegate. Allowed fields for `.eqx` mode: `initiator`, `sender`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: originatedContract
        in: query
        description: 'Filters origination operations by originated contract. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters origination operations by internal TzKT id
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: typeHash
        in: query
        description: Filters origination operations by 32-bit hash of originated contract parameter and storage types (helpful for searching originations of similar contracts)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: codeHash
        in: query
        description: Filters origination operations by 32-bit hash of originated contract code (helpful for searching originations of same contracts)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters origination operations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters origination operations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: senderCodeHash
        in: query
        description: Filters by `senderCodeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: anyCodeHash
        in: query
        description: Filters by either `senderCodeHash` or `codeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: status
        in: query
        description: Filters origination operations by operation status (`applied`, `failed`, `backtracked`, `skipped`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OperationStatusParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: applied,failed,backtracked,skipped
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts originations by specified field. Supported fields: `id` (default), `level`, `gasUsed`, `storageUsed`, `bakerFee`, `storageFee`, `allocationFee`, `contractBalance`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 17
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 18
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 19
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OriginationOperation'
  /v1/operations/originations/{hash}:
    get:
      tags:
      - Operations
      summary: Get origination by hash
      description: Returns origination operations with specified hash.
      operationId: Operations_GetOriginationByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string'
        schema:
          $ref: '#/components/schemas/MichelineFormat'
        x-position: 2
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OriginationOperation'
  /v1/operations/originations/{hash}/status:
    get:
      tags:
      - Operations
      summary: Get origination status
      description: 'Returns operation status: `true` if applied, `false` if failed, `null` (or HTTP 204) if doesn''t exist.'
      operationId: Operations_GetOriginationStatus
      parameters:
      - name: hash
        in: path
        required: true
        description: Operation hash
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: boolean
                nullable: true
  /v1/operations/originations/count:
    get:
      tags:
      - Operations
      summary: Get originations count
      description: Returns the total number of origination operations.
      operationId: Operations_GetOriginationsCount
      parameters:
      - name: level
        in: query
        description: Filters originations by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters originations by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/operations/transactions:
    get:
      tags:
      - Operations
      summary: Get transactions
      description: Returns a list of transaction operations.
      operationId: Operations_GetTransactions
      parameters:
      - name: anyof
        in: query
        description: 'Filters transactions by any of the specified fields. Example: `anyof.sender.target=tz1...` will return operations where `sender` OR `target` is equal to the specified value. This parameter is useful when you need to retrieve all transactions associated with a specified account.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 1
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: sender,target,initiator
      - name: initiator
        in: query
        description: 'Filters transactions by initiator. Allowed fields for `.eqx` mode: `target`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: sender
        in: query
        description: 'Filters transactions by sender. Allowed fields for `.eqx` mode: `target`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: target
        in: query
        description: 'Filters transactions by target. Allowed fields for `.eqx` mode: `sender`, `initiator`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: amount
        in: query
        description: Filters transactions by amount (micro tez).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: id
        in: query
        description: Filters transactions by id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: Filters transactions by level.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters transactions by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: senderCodeHash
        in: query
        description: Filters by `senderCodeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: targetCodeHash
        in: query
        description: Filters by `targetCodeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: codeHash
        in: query
        description: Filters by either `senderCodeHash` or `targetCodeHash`.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: entrypoint
        in: query
        description: Filters transactions by entrypoint called on the target contract.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: parameter
        in: query
        description: "Filters transactions by parameter value. Note, this query parameter supports the following format: `?parameter{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?parameter.token_id=...` or `?parameter.sigs.0.ne=...`.\n            Also, note that `.value` part must be omitted in the path, so, for example, filtering by `parameter.value.foo` must be specified as `?parameter.foo=...`."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 13
        x-tzkt-extension: json-parameter
      - name: hasInternals
        in: query
        description: Filters transactions by presence of internal operations.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: status
        in: query
        description: Filters transactions by operation status (`applied`, `failed`, `backtracked`, `skipped`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OperationStatusParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: applied,failed,backtracked,skipped
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts transactions by specified field. Supported fields: `id` (default), `level`, `gasUsed`, `storageUsed`, `bakerFee`, `storageFee`, `allocationFee`, `amount`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
[...]
