openapi: 3.2.0
info:
  title: TzKT Helpers API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Helpers
paths:
  /v1/helpers/inject:
    post:
      tags:
      - Helpers
      summary: Inject operation
      description: Injects signed operation to the blockchain and returns the operation hash.
      operationId: Helpers_PostInject
      parameters:
      - name: async
        in: query
        description: If `true`, the function returns immediately. Otherwise, the operation will be validated before the result is returned.
        schema:
          type: boolean
          default: true
        x-position: 2
      requestBody:
        x-name: bytes
        description: Forged operation bytes + signature in hex format.
        content:
          application/json:
            schema:
              type: string
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
  /v1/helpers/view/{contract}/{name}:
    post:
      tags:
      - Helpers
      summary: Run script view
      description: Simulate a call to a michelson view
      operationId: Helpers_PostRunScriptView
      parameters:
      - name: contract
        in: path
        required: true
        description: Contract address
        schema:
          type: string
        x-position: 1
      - name: name
        in: path
        required: true
        description: View name
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: input
        description: Input to be passed to the contract view (in human-readable format, see "Json schema" on tzkt.io)
        content:
          application/json:
            schema: {}
        required: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
