openapi: 3.2.0
info:
  title: TzKT Accounts API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Accounts
paths:
  /v1/accounts:
    get:
      tags:
      - Accounts
      summary: Get accounts
      description: Returns a list of accounts.
      operationId: Accounts_Get
      parameters:
      - name: id
        in: query
        description: Filters by internal id.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: address
        in: query
        description: Filters by address.
        schema:
          oneOf:
          - $ref: '#/components/schemas/AddressParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: type
        in: query
        description: Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: kind
        in: query
        description: Filters accounts by contract kind (`delegator_contract` or `smart_contract`)
        schema:
          oneOf:
          - $ref: '#/components/schemas/ContractKindParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: delegator_contract,smart_contract
      - name: delegate
        in: query
        description: 'Filters accounts by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: stakedPseudotokens
        in: query
        description: Filters accounts by amount of staked pseudotokens.
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigIntegerNullableParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: Filters accounts by balance
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: staked
        in: query
        description: Filters accounts by participation in staking
        schema:
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: lastActivity
        in: query
        description: Filters accounts by last activity level (where the account was updated)
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `rollupBonds`, `firstActivity`, `lastActivity`, `numTransactions`, `numContracts`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 13
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
  /v1/accounts/activity:
    get:
      tags:
      - Accounts
      summary: Get accounts activity
      operationId: Accounts_GetActivity
      parameters:
      - name: addresses
        in: query
        description: Comma-separated list of account addresses to get activity of.
        schema:
          type: string
        x-position: 1
      - name: roles
        in: query
        description: Comma-separated list of activity roles (`sender`, `target`, `initiator`, `mention`) to filter activity by.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: types
        in: query
        description: "Comma-separated list of activity types (`activation`, `autostaking`, `baking`, `ballot`, `dal_attestation_reward`,\n            `dal_entrapment_evidence`, `dal_publish_commitment`, `delegation`, `double_baking`, `double_consensus`, `drain_delegate`, \n            `attestation`, `attestation_reward`, `increase_paid_storage`, `migration`, `nonce_revelation`, `origination`, `preattestation`, `proposal`,\n            `register_constant`, `reveal`, `revelation_penalty`, `set_delegate_parameters`, `set_deposits_limit`, `sr_add_messages`, `sr_cement`, `sr_execute`,\n            `sr_originate`, `sr_publish`, `sr_recover_bond`, `sr_refute`, `staking`, `transaction`, `transfer_ticket`, `tx_rollup_commit`, `tx_rollup_dispatch_tickets`,\n            `tx_rollup_finalize_commitment`, `tx_rollup_origination`, `tx_rollup_rejection`, `tx_rollup_remove_commitment`, `tx_rollup_return_bond`, `tx_rollup_submit_batch`,\n            `vdf_revelation`, `update_secondary_key`, `ticket_transfer`, `token_transfer`)"
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: timestamp
        in: query
        description: Filter activity by timestamp.
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sort mode: 0 - asc (oldest to newest), 1 - desc (newest to oldest).'
        schema:
          default: Descending
          oneOf:
          - $ref: '#/components/schemas/SortMode'
        x-position: 5
      - name: lastId
        in: query
        description: Id of the last activity element received, which is used for cursor pagination.
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 6
      - name: limit
        in: query
        description: Number of elements to return.
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 1000.0
          minimum: 0.0
        x-position: 7
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string.'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 8
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response.
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 9
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /v1/accounts/count:
    get:
      tags:
      - Accounts
      summary: Get accounts count
      description: Returns a number of accounts.
      operationId: Accounts_GetCount
      parameters:
      - name: type
        in: query
        description: Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: kind
        in: query
        description: Filters accounts by contract kind (`delegator_contract` or `smart_contract`)
        schema:
          oneOf:
          - $ref: '#/components/schemas/ContractKindParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: delegator_contract,smart_contract
      - name: balance
        in: query
        description: Filters accounts by balance
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: staked
        in: query
        description: Filters accounts by participation in staking
        schema:
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: firstActivity
        in: query
        description: Filters accounts by first activity level (where the account was created)
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/accounts/{address}:
    get:
      tags:
      - Accounts
      summary: Get account by address
      description: Returns an account with the specified address.
      operationId: Accounts_GetByAddress
      parameters:
      - name: address
        in: path
        required: true
        description: Account address
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /v1/accounts/{address}/contracts:
    get:
      tags:
      - Accounts
      summary: Get account contracts
      description: Returns a list of contracts created by (or related to) the specified account.
      operationId: Accounts_GetContracts
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: sort
        in: query
        description: 'Sorts contracts by specified field. Supported fields: `id` (default, desc), `balance`, `creationLevel`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelatedContract'
  /v1/accounts/{address}/delegators:
    get:
      tags:
      - Accounts
      summary: Get account delegators
      description: Returns a list of accounts delegated to the specified account.
      operationId: Accounts_GetDelegators
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz)
        schema:
          type: string
        x-position: 1
      - name: type
        in: query
        description: Filters delegators by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: balance
        in: query
        description: Filters delegators by balance.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: delegationLevel
        in: query
        description: Number of items to skip
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `delegationLevel` (default, desc), `balance`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Delegator'
  /v1/accounts/{address}/counter:
    get:
      tags:
      - Accounts
      summary: Get counter
      description: Returns account counter
      operationId: Accounts_GetCounter
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/accounts/{address}/balance:
    get:
      tags:
      - Accounts
      summary: Get balance
      description: Returns account balance
      operationId: Accounts_GetBalance
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history/{level}:
    get:
      tags:
      - Accounts
      summary: Get balance at level
      description: 'Returns account balance* at the specified block.

        \* - for non-baker tz-accounts historical balances do not include staked tez,

        because stakers do not really have staked tez on their balance, they have staking pseudotokens instead.

        If you want to get a full historical balance, including staked tez, use the Tezos node RPC:

        `/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.'
      operationId: Accounts_GetBalanceAtLevel
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: level
        in: path
        required: true
        description: Block height at which you want to know account balance
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history/{datetime}:
    get:
      tags:
      - Accounts
      summary: Get balance at date
      description: 'Returns account balance* at the specified datetime.

        \* - for non-baker tz-accounts historical balances do not include staked tez,

        because stakers do not really have staked tez on their balance, they have staking pseudotokens instead.

        If you want to get a full historical balance, including staked tez, use the Tezos node RPC:

        `/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.'
      operationId: Accounts_GetBalanceAtDate
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: datetime
        in: path
        required: true
        description: Datetime at which you want to know account balance (e.g. `2020-01-01`, or `2019-12-30T23:42:59Z`)
        schema:
          type: string
          format: date-time
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history:
    get:
      tags:
      - Accounts
      summary: Get balance history
      description: 'Returns time series with historical balances* (only changes, without duplicates).

        \* - for non-baker tz-accounts historical balances do not include staked tez,

        because stakers do not really have staked tez on their balance, they have staking pseudotokens instead.

        If you want to get a full historical balance, including staked tez, use the Tezos node RPC:

        `/chains/main/blocks/{level}/context/contracts/{address}/full_balance`.'
      operationId: Accounts_GetBalanceHistory
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: step
        in: query
        description: Step of the time series, for example if `step = 1000` you will get balances at blocks `1000, 2000, 3000, ...`.
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 2
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts historical balances by specified field. Supported fields: `level`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 5
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 6
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalBalance'
  /v1/accounts/{address}/report:
    get:
      tags:
      - Accounts
      summary: Get account report
      description: Exports account balance report in .csv format
      operationId: Accounts_GetBalanceReport
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: from
        in: query
        description: Start of the datetime range to filter by (ISO 8601, e.g. 2019-11-31)
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: to
        in: query
        description: End of the datetime range to filter by (ISO 8601, e.g. 2019-12-31)
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: currency
        in: query
        description: Currency to convert amounts to (`btc`, `eur`, `usd`, `cny`, `jpy`, `krw`, `eth`, `gbp`)
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: historical
        in: query
        description: '`true` if you want to use historical prices, `false` to use current price'
        schema:
          type: boolean
          default: false
        x-position: 5
      - name: delimiter
        in: query
        description: Column delimiter (`comma`, `semicolon`)
        schema:
          type: string
          default: comma
        x-position: 6
      - name: separator
        in: query
        description: Decimal separator (`comma`, `point`)
        schema:
          type: string
          default: point
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    Symbols:
      type: string
      description: ''
      x-enumFlags: true
      x-enumNames:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
      enum:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
    Account:
      type: object
      discriminator:
        propertyName: type
        mapping:
          user: '#/components/schemas/User'
          delegate: '#/components/schemas/Delegate'
          contract: '#/components/schemas/Contract'
          ghost: '#/components/schemas/Ghost'
          rollup: '#/components/schemas/Rollup'
          smart_rollup: '#/components/schemas/SmartRollup'
          empty: '#/components/schemas/EmptyAccount'
      x-abstract: true
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          description: 'Type of the account (`user` - simple wallet account, `delegate` - account, registered as a delegate (baker),

            `contract` - smart contract programmable account, `ghost` - non-existent contract, `empty` - account hasn''t appeared in the blockchain yet,

            `rollup` - transactional optimistic rollup, `smart_rollup` - smart contract optimistic rollup)'
        address:
          type: string
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        eqx:
          type:
          - string
          - 'null'
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
        nex:
          type:
          - string
          - 'null'
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    AccountTypeParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an account type to get items where the specified field is equal to the specified value.


            Example: `?type=delegate`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an account type to get items where the specified field is not equal to the specified value.


            Example: `?type.ne=contract`.'
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: user,contract,delegate
    QuoteShort:
      type: object
      additionalProperties: false
      properties:
        btc:
          type:
          - number
          - 'null'
          description: XTZ/BTC price
          format: double
        eur:
          type:
          - number
          - 'null'
          description: XTZ/EUR price
          format: double
        usd:
          type:
          - number
          - 'null'
          description: XTZ/USD price
          format: double
        cny:
          type:
          - number
          - 'null'
          description: XTZ/CNY price
          format: double
        jpy:
          type:
          - number
          - 'null'
          description: XTZ/JPY price
          format: double
        krw:
          type:
          - number
          - 'null'
          description: XTZ/KRW price
          format: double
        eth:
          type:
          - number
          - 'null'
          description: XTZ/ETH price
          format: double
        gbp:
          type:
          - number
          - 'null'
          description: XTZ/GBP price
          format: double
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    RelatedContract:
      type: object
      additionalProperties: false
      properties:
        kind:
          type: string
          description: 'Kind of the contract (`delegator_contract` or `smart_contract`),

            where `delegator_contract` - manager.tz smart contract for delegation purpose only'
        alias:
          type:
          - string
          - 'null'
          description: Name of the project behind the contract or contract description
        address:
          type: string
          description: Public key hash of the contract
        balance:
          type: integer
          description: Contract balance (micro tez)
          format: int64
        delegate:
          description: Information about the current delegate of the contract. `null` if it's not delegated
          oneOf:
          - $ref: '#/components/schemas/DelegateInfo'
        creationLevel:
          type: integer
          description: Height of the block where the contract was created
          format: int32
        creationTime:
          type:
          - string
          - 'null'
          description: Datetime of the block where the contract was created (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
    ContractKindParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a contract kind to get items where the specified field is equal to the specified value.


            Example: `?kind=smart_contract`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a contract kind to get items where the specified field is not equal to the specified value.


            Example: `?kind.ne=delegator_contract`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is equal to one of the specified values.


            Example: `?kind.in=smart_contract,asset`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is not equal to all the specified values.


            Example: `?kind.ni=smart_contract,asset`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: delegator_contract,smart_contract
    AddressParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=` is the same as `param=`). \

            Specify an account address to get items where the specified field is equal to the specified value.


            Example: `?address=tz123..`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an account address to get items where the specified field is not equal to the specified value.


            Example: `?address.ne=tz123..`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is equal to one of the specified values.


            Example: `?address.in=tz123..,tz345..`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is not equal to all the specified values.


            Example: `?address.ni=tz123..,tz345..`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    SortMode:
      type: string
      description: ''
      x-enumNames:
      - Ascending
      - Descending
      enum:
      - Ascending
      - Descending
    BoolParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - boolean
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=true` is the same as `param=true`). \

            Specify a bool flag to get items where the specified field is equal to the specified value.


            Example: `?active=true` or `?active=1` or `?active`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?active.null` or `?active.null=false`.'
      x-tzkt-extension: query-parameter
    BigIntegerNullableParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: string
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
      x-tzkt-extension: query-parameter
    MichelineFormat:
      type: string
      description: ''
      x-enumNames:
      - Json
      - JsonString
      - Raw
      - RawString
      enum:
      - Json
      - JsonString
      - Raw
      - RawString
    DelegateInfo:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Name of the baking service
        address:
          type: string
          description: Public key hash of the delegate (baker)
        active:
          type: boolean
          description: Delegation status (`true` - active, `false` - deactivated)
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
    Activity:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ticket_transfer: '#/components/schemas/TicketTransferActivity'
          token_transfer: '#/components/schemas/TokenTransferActivity'
          autostaking: '#/components/schemas/AutostakingOperation'
          baking: '#/components/schemas/BakingOperation'
          ballot: '#/components/schemas/BallotOperation'
          dal_attestation_reward: '#/components/schemas/DalAttestationRewardOperation'
          dal_entrapment_evidence: '#/components/schemas/DalEntrapmentEvidenceOperation'
          dal_publish_commitment: '#/components/schemas/DalPublishCommitmentOperation'
          delegation: '#/components/schemas/DelegationOperation'
          double_baking: '#/components/schemas/DoubleBakingOperation'
          double_consensus: '#/components/schemas/DoubleConsensusOperation'
          drain_delegate: '#/components/schemas/DrainDelegateOperation'
          attestation: '#/components/schemas/AttestationOperation'
          attestation_reward: '#/components/schemas/AttestationRewardOperation'
          increase_paid_storage: '#/components/schemas/IncreasePaidStorageOperation'
          migration: '#/components/schemas/MigrationOperation'
          nonce_revelation: '#/components/schemas/NonceRevelationOperation'
          origination: '#/components/schemas/OriginationOperation'
          preattestation: '#/components/schemas/PreattestationOperation'
          proposal: '#/components/schemas/ProposalOperation'
          register_constant: '#/components/schemas/RegisterConstantOperation'
          reveal: '#/components/schemas/RevealOperation'
          revelation_penalty: '#/components/schemas/RevelationPenaltyOperation'
          set_delegate_parameters: '#/components/schemas/SetDelegateParametersOperation'
          set_deposits_limit: '#/components/schemas/SetDepositsLimitOperation'
          sr_add_messages: '#/components/schemas/SmartRollupAddMessagesOperation'
          sr_cement: '#/components/schemas/SmartRollupCementOperation'
          sr_execute: '#/components/schemas/SmartRollupExecuteOperation'
          sr_originate: '#/components/schemas/SmartRollupOriginateOperation'
          sr_publish: '#/components/schemas/SmartRollupPublishOperation'
          sr_recover_bond: '#/components/schemas/SmartRollupRecoverBondOperation'
          sr_refute: '#/components/schemas/SmartRollupRefuteOperation'
          staking: '#/components/schemas/StakingOperation'
          transaction: '#/components/schemas/TransactionOperation'
          transfer_ticket: '#/components/schemas/TransferTicketOperation'
          tx_rollup_commit: '#/components/schemas/TxRollupCommitOperation'
          tx_rollup_dispatch_tickets: '#/components/schemas/TxRollupDispatchTicketsOperation'
          tx_rollup_finalize_commitment: '#/components/schemas/TxRollupFinalizeCommitmentOperation'
          tx_rollup_origination: '#/components/schemas/TxRollupOriginationOperation'
          tx_rollup_rejection: '#/components/schemas/TxRollupRejectionOperation'
          tx_rollup_remove_commitment: '#/components/schemas/TxRollupRemoveCommitmentOperation'
          tx_rollup_return_bond: '#/components/schemas/TxRollupReturnBondOperation'
          tx_rollup_submit_batch: '#/components/schemas/TxRollupSubmitBatchOperation'
          update_secondary_key: '#/components/schemas/UpdateSecondaryKeyOperation'
          vdf_revelation: '#/components/schemas/VdfRevelationOperation'
          activation: '#/components/schemas/ActivationOperation'
      x-abstract: true
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          description: Type of the activity element
        id:
          type: integer
          description: Internal ID of the activity element
          format: int64
    HistoricalBalance:
      type: object
      additionalProperties: false
      properties:
        level:
          type: integer
          description: Height of the block at which the account balance was calculated
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block at which the account balance was calculated
          format: date-time
        balance:
          type: integer
          description: Historical balance
          format: int64
        quote:
          description: Injected historical quote at the time of balance snapshot
          oneOf:
          - $ref: '#/components/schemas/QuoteShort'
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    Delegator:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          description: Delegator type ('contract' for KT.. address or 'user' for tz.. address)
        alias:
          type:
          - string
          - 'null'
          description: Name of the project behind the account or account description
        address:
          type: string
          description: Public key hash of the account
        balance:
          type: integer
          description: Account balance (micro tez)
          format: int64
        delegationLevel:
          type: integer
          description: Block height of last delegation operation
          format: int32
        delegationTime:
          type: string
          description: Block datetime of last delegation operation (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
