openapi: 3.2.0
info:
  title: TzKT Delegates API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Delegates
paths:
  /v1/delegates:
    get:
      tags:
      - Delegates
      summary: Get delegates
      description: Returns a list of delegate accounts.
      operationId: Delegates_Get
      parameters:
      - name: active
        in: query
        description: Delegate status to filter by (true - only active, false - only deactivated, undefined - all delegates)
        schema:
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: lastActivity
        in: query
        description: Filters delegates by last activity level (where the delegate was updated)
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `id` (default), `stakedBalance`, `externalStakedBalance`, `ownDelegatedBalance`, `externalDelegatedBalance`, `bakingPower`, `votingPower`, `balance`, `numDelegators`, `stakersCount`, `activationLevel`, `deactivationLevel`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 6
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Delegate'
  /v1/delegates/count:
    get:
      tags:
      - Delegates
      summary: Get delegates count
      description: Returns a number of delegate accounts.
      operationId: Delegates_GetCount
      parameters:
      - name: active
        in: query
        description: Delegate status to filter by (true - only active, false - only deactivated, undefined - all delegates)
        schema:
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/delegates/{address}:
    get:
      tags:
      - Delegates
      summary: Get delegate by address
      description: Returns a delegate with the specified address.
      operationId: Delegates_GetByAddress
      parameters:
      - name: address
        in: path
        required: true
        description: Delegate address (starting with tz)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegate'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    Delegate:
      allOf:
      - type: object
        additionalProperties: false
        properties:
          id:
            type: integer
            description: Internal TzKT id
            format: int32
          type:
            type: string
            description: Type of the account, `delegate` - account, registered as a delegate (baker)
          address:
            type: string
            description: Public key hash of the delegate's main key
          consensusAddress:
            type:
            - string
            - 'null'
            description: Public key hash of the delegate's consensus key
          companionAddress:
            type:
            - string
            - 'null'
            description: Public key hash of the delegate's companion key
          active:
            type: boolean
            description: Delegation status (`true` - active, `false` - deactivated)
          alias:
            type:
            - string
            - 'null'
            description: Name of the baking service
          publicKey:
            type: string
            description: Public key of the delegate (baker)
          revealed:
            type: boolean
            description: Public key revelation status. Unrevealed account can't send manager operation (transaction, origination etc.)
          balance:
            type: integer
            description: Total balance of the delegate (baker), including spendable and frozen funds (micro tez)
            format: int64
          rollupBonds:
            type: integer
            description: Amount of tx rollup commitment bonds (micro tez)
            format: int64
          smartRollupBonds:
            type: integer
            description: Amount of smart rollup commitment bonds (micro tez)
            format: int64
          stakedBalance:
            type: integer
            description: 'Amount staked from the own balance (micro tez).

              Like delegated amount, except for it is frozen and can be slashed.'
            format: int64
          unstakedBalance:
            type: integer
            description: Amount that was unstaked, but not yet finalized (i.e. it is still frozen) (micro tez).
            format: int64
          unstakedBaker:
            description: Information about the baker, for which there are pending unstake requests.
            oneOf:
            - $ref: '#/components/schemas/Alias'
          externalStakedBalance:
            type: integer
            description: 'Amount staked from external stakers (micro tez).

              Like delegated amount, except for it is frozen and can be slashed.'
            format: int64
          externalUnstakedBalance:
            type: integer
            description: Amount that was unstaked by external stakers, but not yet finalized (i.e. it is still frozen) (micro tez).
            format: int64
          roundingError:
            type: integer
            description: Amount that was lost due to inconsistend rounding introduced in Oxford (micro tez).
            format: int64
          totalStakedBalance:
            type: integer
            description: Total staked balance, which is `stakedBalance + externalStakedBalance`.
            format: int64
          issuedPseudotokens:
            type:
            - string
            - 'null'
            description: Total amount of issued "pseudo-tokens". These pseudotokens are used for unstaking.
          stakersCount:
            type: integer
            description: Number of external stakers.
            format: int32
          frozenDepositLimit:
            type:
            - integer
            - 'null'
            description: Configured max amount allowed to be locked as a security deposit (micro tez)
            format: int64
          limitOfStakingOverBaking:
            type:
            - integer
            - 'null'
            description: This parameter determines the maximum portion (millionth) of external stake by stakers over the baker's own staked funds.
            format: int64
          edgeOfBakingOverStaking:
            type:
            - integer
            - 'null'
            description: This parameter determines the fraction (billionth) of the rewards that accrue to the baker's liquid spendable balance — the remainder accrues to frozen stakes.
            format: int64
          counter:
            type: integer
            description: An account nonce which is used to prevent operation replay
            format: int32
          activationLevel:
            type: integer
            description: Block height when delegate (baker) was registered as a baker last time
            format: int32
          activationTime:
            type: string
            description: Block datetime when delegate (baker) was registered as a baker last time (ISO 8601, e.g. 2019-11-31)
            format: date-time
          deactivationLevel:
            type:
            - integer
            - 'null'
            description: Block height when delegate (baker) was deactivated as a baker because of lack of funds or inactivity
            format: int32
          deactivationTime:
            type:
            - string
            - 'null'
            description: Block datetime when delegate (baker) was deactivated as a baker because of lack of funds or inactivity (ISO 8601, e.g. 2019-11-31)
            format: date-time
          bakingPower:
            type: integer
            description: Current baking power
            format: int64
          votingPower:
            type: integer
            description: Current voting power
            format: int64
          ownDelegatedBalance:
            type: integer
            description: Amount delegated from the own balance (micro tez).
            format: int64
          externalDelegatedBalance:
            type: integer
            description: Amount delegated from the external delegators (micro tez).
            format: int64
          numContracts:
            type: integer
            description: Number of contracts, created (originated) and/or managed by the delegate (baker)
            format: int32
          rollupsCount:
            type: integer
            description: Number of tx rollups, created (originated) by the account
            format: int32
          smartRollupsCount:
            type: integer
            description: Number of smart rollups, created (originated) by the account
            format: int32
          activeTokensCount:
            type: integer
            description: Number of account tokens with non-zero balances
            format: int32
          tokenBalancesCount:
            type: integer
            description: Number of tokens the account ever had
            format: int32
          tokenTransfersCount:
            type: integer
            description: Number of token transfers from/to the account
            format: int32
          activeTicketsCount:
            type: integer
            description: Number of tickets the account owns.
            format: int32
          ticketBalancesCount:
            type: integer
            description: Number of tickets the account ever owned.
            format: int32
          ticketTransfersCount:
            type: integer
            description: Number of ticket transfers from/to the account.
            format: int32
          numDelegators:
            type: integer
            description: Number of current delegators (accounts, delegated their funds) of the delegate (baker)
            format: int32
          numBlocks:
            type: integer
            description: Number of baked (validated) blocks all the time by the delegate (baker)
            format: int32
          numAttestations:
            type: integer
            description: Number of given attestations (approvals) by the delegate (baker)
            format: int32
          numPreattestations:
            type: integer
            description: Number of given preattestations (approvals) by the delegate (baker)
            format: int32
          numBallots:
            type: integer
            description: Number of submitted by the delegate ballots during a voting period
            format: int32
          numProposals:
            type: integer
            description: Number of submitted (upvoted) by the delegate proposals during a proposal period
            format: int32
          numActivations:
            type: integer
            description: 'Number of account activation operations. Are used to activate accounts that were recommended allocations of

              tezos tokens for donations to the Tezos Foundation’s fundraiser'
            format: int32
          numDoubleBaking:
            type: integer
            description: 'Number of double baking (baking two different blocks at the same height) evidence operations,

              included in blocks, baked (validated) by the delegate'
            format: int32
          numDoubleConsensus:
            type: integer
            description: 'Number of double consensus (attestation or preattestation of two different blocks at the same block height) evidence operations,

              included in blocks, baked (validated) by the delegate'
            format: int32
          numNonceRevelations:
            type: integer
            description: Number of seed nonce revelation (are used by the blockchain to create randomness) operations provided by the delegate
            format: int32
          vdfRevelationsCount:
            type: integer
            description: Number of `vdf_revelation` operations included into blocks by the delegate
            format: int32
          numRevelationPenalties:
            type: integer
            description: Number of operations for all time in which rewards were lost due to unrevealed seed nonces by the delegate (synthetic type)
            format: int32
          numAttestationRewards:
            type: integer
            description: Number of attestation rewards received at the end of cycles (synthetic type)
            format: int32
          numDelegations:
            type: integer
            description: 'Number of all delegation related operations (new delegator, left delegator, registration as a baker),

              related to the delegate (baker) '
            format: int32
          numOriginations:
            type: integer
            description: Number of all origination (deployment / contract creation) operations, related to the delegate (baker)
            format: int32
          numTransactions:
            type: integer
            description: Number of all transaction (tez transfer) operations, related to the delegate (baker)
            format: int32
          numReveals:
            type: integer
            description: Number of reveal (is used to reveal the public key associated with an account) operations of the delegate (baker)
            format: int32
          numRegisterConstants:
            type: integer
            description: Number of register global constant operations sent by the baker
            format: int32
          numSetDepositsLimits:
            type: integer
            description: Number of set deposits limit operations sent by the baker
            format: int32
          numMigrations:
            type: integer
            description: 'Number of migration (result of the context (database) migration during a protocol update) operations,

              related to the delegate (synthetic type) '
            format: int32
          txRollupOriginationCount:
            type: integer
            description: Number of tx rollup origination operations sent by the account
            format: int32
          txRollupSubmitBatchCount:
            type: integer
            description: Number of tx rollup submit batch operations sent by the account
            format: int32
          txRollupCommitCount:
            type: integer
            description: Number of tx rollup commit operations sent by the account
            format: int32
          txRollupReturnBondCount:
            type: integer
            description: Number of tx rollup return bond operations sent by the account
            format: int32
          txRollupFinalizeCommitmentCount:
            type: integer
            description: Number of tx rollup finalize commitment operations sent by the account
            format: int32
          txRollupRemoveCommitmentCount:
            type: integer
            description: Number of tx rollup remove commitment operations sent by the account
            format: int32
          txRollupRejectionCount:
            type: integer
            description: Number of tx rollup rejection operations sent by the account
            format: int32
          txRollupDispatchTicketsCount:
            type: integer
            description: Number of tx rollup dispatch tickets operations sent by the account
            format: int32
          transferTicketCount:
            type: integer
            description: Number of transfer ticket operations sent by the account
            format: int32
          increasePaidStorageCount:
            type: integer
            description: Number of `increase_paid_storage` operations sent by the account
            format: int32
          updateSecondaryKeyCount:
            type: integer
            description: Number of `update_secondary_key` operations sent by the account
            format: int32
          drainDelegateCount:
            type: integer
            description: Number of `drain_delegate` operations related to the account
            format: int32
          smartRollupAddMessagesCount:
            type: integer
            description: Number of `smart_rollup_add_messages` operations related to the account
            format: int32
          smartRollupCementCount:
            type: integer
            description: Number of `smart_rollup_cement` operations related to the account
            format: int32
          smartRollupExecuteCount:
            type: integer
            description: Number of `smart_rollup_execute_outbox_message` operations related to the account
            format: int32
          smartRollupOriginateCount:
            type: integer
            description: Number of `smart_rollup_originate` operations related to the account
            format: int32
          smartRollupPublishCount:
            type: integer
            description: Number of `smart_rollup_publish` operations related to the account
            format: int32
          smartRollupRecoverBondCount:
            type: integer
            description: Number of `smart_rollup_recover_bond` operations related to the account
            format: int32
          smartRollupRefuteCount:
            type: integer
            description: Number of `smart_rollup_refute` operations related to the account
            format: int32
          refutationGamesCount:
            type: integer
            description: Number of smart rollup refutation games related to the account
            format: int32
          activeRefutationGamesCount:
            type: integer
            description: Number of active smart rollup refutation games related to the account
            format: int32
          stakingOpsCount:
            type: integer
            description: Number of staking operations related to the account
            format: int32
          autostakingOpsCount:
            type: integer
            description: Number of autostaking operations related to the account
            format: int32
          stakingUpdatesCount:
            type: integer
            description: Number of staking updates related to the account
            format: int32
          setDelegateParametersOpsCount:
            type: integer
            description: Number of set delegate parameters operations related to the account
            format: int32
          dalPublishCommitmentOpsCount:
            type: integer
            description: Number of DAL publish commitment operations related to the account
            format: int32
          dalEntrapmentEvidenceOpsCount:
            type: integer
            description: Number of DAL entrapment evidences related to the account
            format: int32
          dalAttestationRewardsCount:
            type: integer
            description: Number of DAL attestation rewards related to the account
            format: int32
          firstActivity:
            type: integer
            description: Block height of the first operation, related to the delegate (baker)
            format: int32
          firstActivityTime:
            type: string
            description: Block datetime of the first operation, related to the delegate (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
            format: date-time
          lastActivity:
            type: integer
            description: Height of the block in which the account state was changed last time
            format: int32
          lastActivityTime:
            type: string
            description: Datetime of the block in which the account state was changed last time (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
            format: date-time
          extras:
            description: Off-chain extras
          software:
            description: Last seen baker's software
            oneOf:
            - $ref: '#/components/schemas/SoftwareAlias'
          softwareUpdateLevel:
            type:
            - integer
            - 'null'
            description: Level of the first block baked by the baker with the current software version
            format: int32
          softwareUpdateTime:
            type:
            - string
            - 'null'
            description: Datetime of the first block baked by the baker with the current software version
            format: date-time
          stakingBalance:
            type: integer
            description: '**DEPRECATED**'
            format: int64
          delegatedBalance:
            type: integer
            description: '**DEPRECATED**'
            format: int64
          updateConsensusKeyCount:
            type: integer
            description: '**DEPRECATED**'
            format: int32
          numEndorsements:
            type: integer
            description: '**DEPRECATED**'
            format: int32
          numPreendorsements:
            type: integer
            description: '**DEPRECATED**'
            format: int32
          numDoubleEndorsing:
            type: integer
            description: '**DEPRECATED**'
            format: int32
          numDoublePreendorsing:
            type: integer
            description: '**DEPRECATED**'
            format: int32
          numEndorsingRewards:
            type: integer
            description: '**DEPRECATED**'
            format: int32
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    SoftwareAlias:
      type: object
      additionalProperties: false
      properties:
        version:
          type: string
          description: Software version (commit tag)
        date:
          type: string
          description: Date of the commit or when the software was first seen
          format: date-time
    BoolParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - boolean
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=true` is the same as `param=true`). \

            Specify a bool flag to get items where the specified field is equal to the specified value.


            Example: `?active=true` or `?active=1` or `?active`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?active.null` or `?active.null=false`.'
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
