openapi: 3.2.0
info:
  title: TzKT Software API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Software
paths:
  /v1/software:
    get:
      tags:
      - Software
      summary: Get baker software
      description: Returns a list of baker software.
      operationId: Software_Get
      parameters:
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `id` (default), `firstLevel`, `lastLevel`, `blocksCount`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Software'
  /v1/software/count:
    get:
      tags:
      - Software
      summary: Get software count
      description: Returns a number of software.
      operationId: Software_GetCount
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    Software:
      type: object
      additionalProperties: false
      properties:
        shortHash:
          type: string
          description: Software ID (short commit hash)
        firstLevel:
          type: integer
          description: Level of the first block baked with this software
          format: int32
        firstTime:
          type: string
          description: Datetime of the first block baked with this software
          format: date-time
        lastLevel:
          type: integer
          description: Level of the last block baked with this software
          format: int32
        lastTime:
          type: string
          description: Datetime of the last block baked with this software
          format: date-time
        blocksCount:
          type: integer
          description: Total number of blocks baked with this software
          format: int32
        extras:
          description: Off-chain extras
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
