openapi: 3.2.0
info:
  title: TzKT Voting API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Voting
paths:
  /v1/voting/proposals/count:
    get:
      tags:
      - Voting
      summary: Get proposals count
      description: Returns the total number of protocol proposals.
      operationId: Voting_GetProposalsCount
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/voting/proposals:
    get:
      tags:
      - Voting
      summary: Get proposals
      description: Returns a list of protocol proposals.
      operationId: Voting_GetProposals
      parameters:
      - name: hash
        in: query
        description: Filters proposals by hash
        schema:
          oneOf:
          - $ref: '#/components/schemas/ProtocolParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: epoch
        in: query
        description: Filters proposals by voting epoch
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts proposals by specified field. Supported fields: `id` (default), `upvotes`, `votingPower`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 6
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Proposal'
  /v1/voting/proposals/{hash}:
    get:
      tags:
      - Voting
      summary: Get proposal by hash
      description: Returns the most recent protocol proposal with the specified hash.
      operationId: Voting_GetProposalByHash
      parameters:
      - name: hash
        in: path
        required: true
        description: Proposal hash
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
  /v1/voting/periods:
    get:
      tags:
      - Voting
      summary: Get voting periods
      description: Returns a list of voting periods.
      operationId: Voting_GetPeriods
      parameters:
      - name: firstLevel
        in: query
        description: Filter by level of the first block of the period.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: Filter by level of the last block of the period.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: epoch
        in: query
        description: Filters by voting epoch
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts voting periods by specified field. Supported fields: `id` (default).'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VotingPeriod'
  /v1/voting/periods/{index}:
    get:
      tags:
      - Voting
      summary: Get voting period by index
      description: Returns a voting period at the specified index.
      operationId: Voting_GetPeriod
      parameters:
      - name: index
        in: path
        required: true
        description: Voting period index starting from zero
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotingPeriod'
  /v1/voting/periods/current:
    get:
      tags:
      - Voting
      summary: Get current voting period
      description: Returns current voting period.
      operationId: Voting_GetCurrentPeriod
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotingPeriod'
  /v1/voting/periods/{index}/voters:
    get:
      tags:
      - Voting
      summary: Get period voters
      description: Returns voters from the voting period at the specified index.
      operationId: Voting_GetPeriodVoters
      parameters:
      - name: index
        in: path
        required: true
        description: Voting period index starting from zero
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: status
        in: query
        description: Filters voters by status (`none`, `upvoted`, `voted_yay`, `voted_nay`, `voted_pass`)
        schema:
          oneOf:
          - $ref: '#/components/schemas/VoterStatusParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: none,upvoted,voted_yay,voted_nay,voted_pass
      - name: sort
        in: query
        description: 'Sorts voters by specified field. Supported fields: `id` (default), `votingPower`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VoterSnapshot'
  /v1/voting/periods/{index}/voters/{address}:
    get:
      tags:
      - Voting
      summary: Get period voter
      description: Returns a voter with the specified address from the voting period at the specified index.
      operationId: Voting_GetPeriodVoter
      parameters:
      - name: index
        in: path
        required: true
        description: Voting period index starting from zero
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: address
        in: path
        required: true
        description: Voter address
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoterSnapshot'
  /v1/voting/periods/current/voters:
    get:
      tags:
      - Voting
      summary: Get current period voters
      description: Returns voters from the current period.
      operationId: Voting_GetPeriodVoters2
      parameters:
      - name: status
        in: query
        description: Filters voters by status (`none`, `upvoted`, `voted_yay`, `voted_nay`, `voted_pass`)
        schema:
          oneOf:
          - $ref: '#/components/schemas/VoterStatusParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: none,upvoted,voted_yay,voted_nay,voted_pass
      - name: sort
        in: query
        description: 'Sorts voters by specified field. Supported fields: `id` (default), `votingPower`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VoterSnapshot'
  /v1/voting/periods/current/voters/{address}:
    get:
      tags:
      - Voting
      summary: Get current period voter
      description: Returns a voter with the specified address from the current period.
      operationId: Voting_GetPeriodVoter2
      parameters:
      - name: address
        in: path
        required: true
        description: Voter address
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoterSnapshot'
  /v1/voting/epochs:
    get:
      tags:
      - Voting
      summary: Get voting epochs
      description: Returns a list of voting epochs.
      operationId: Voting_GetEpochs
      parameters:
      - name: status
        in: query
        description: Filter by voting epoch status (`no_proposals`, `voting`, `completed`, `failed`).
        schema:
          oneOf:
          - $ref: '#/components/schemas/EpochStatusParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: no_proposals,voting,completed,failed
      - name: sort
        in: query
        description: 'Sorts voting epochs by specified field. Supported fields: `index` (default).'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VotingEpoch'
  /v1/voting/epochs/{index}:
    get:
      tags:
      - Voting
      summary: Get voting epoch by index
      description: Returns a voting epoch at the specified index.
      operationId: Voting_GetEpoch
      parameters:
      - name: index
        in: path
        required: true
        description: Voting epoch index starting from zero
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotingEpoch'
  /v1/voting/epochs/current:
    get:
      tags:
      - Voting
      summary: Get current voting epoch
      description: Returns the current voting epoch
      operationId: Voting_GetCurrentEpoch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotingEpoch'
  /v1/voting/epochs/latest_voting:
    get:
      tags:
      - Voting
      summary: Get latest voting
      description: Returns the latest epoch with at least one proposal
      operationId: Voting_GetLatestVoting
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotingEpoch'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    ProtocolParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a protocol hash to get items where the specified field is equal to the specified value.


            Example: `?protocol=PsCARTHAGaz...`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a protocol hash to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=PsBabyM1eUX...`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of protocol hashes to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=PsCARTHAGaz,PsBabyM1eUX`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of protocol hashes to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=PsCARTHAGaz,PsBabyM1eUX`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    VotingPeriod:
      type: object
      additionalProperties: false
      properties:
        index:
          type: integer
          description: Index of the voting period, starting from zero
          format: int32
        epoch:
          type: integer
          description: Index of the voting epoch, starting from zero
          format: int32
        firstLevel:
          type: integer
          description: The height of the block in which the period starts
          format: int32
        startTime:
          type: string
          description: The timestamp of the block in which the period starts
          format: date-time
        lastLevel:
          type: integer
          description: The height of the block in which the period ends
          format: int32
        endTime:
          type: string
          description: The timestamp of the block in which the period ends
          format: date-time
        kind:
          type: string
          description: 'Kind of the voting period:

            `proposal` - delegates can submit protocol amendment proposals using the proposal operation

            `exploration` -  bakers (delegates) may vote on the top-ranked proposal from the previous Proposal Period using the ballot operation

            `testing` - If the proposal is approved in the Exploration Period, the testing (or ''cooldown'') period begins and bakers start testing the new protocol

            `promotion` - delegates can cast one vote to promote or not the tested proposal using the ballot operation

            `adoption` - after the proposal is actually accepted, the ecosystem has some time to prepare to the upgrade'
        status:
          type: string
          description: 'Status of the voting period:

            `active` - means that the voting period is in progress

            `no_proposals` - means that there were no proposals during the voting period

            `no_quorum` - means that there was a voting but the quorum was not reached

            `no_supermajority` - means that there was a voting but the supermajority was not reached

            `no_single_winner` - means that there were multiple winning proposals with the same voting power

            `success` - means that the period was finished with positive voting result'
        dictator:
          type: string
          description: "Status of the governance dictator:\n`none` - means that there were no actions by the dictator \n`abort` - means that the epoch was aborted by the dictator\n`reset` - means that the period was reset by the dictator\n`submit` - means that the dictator submitted a proposal"
        totalBakers:
          type: integer
          description: The number of bakers on the voters list
          format: int32
        totalVotingPower:
          type: integer
          description: Total voting power of bakers on the voters list
          format: int64
        upvotesQuorum:
          type:
          - number
          - 'null'
          description: Upvotes quorum percentage (only for proposal period)
          format: double
        proposalsCount:
          type:
          - integer
          - 'null'
          description: The number of proposals injected during the voting period (only for proposal period)
          format: int32
        topUpvotes:
          type:
          - integer
          - 'null'
          description: This is how many upvotes (proposal operations) the most upvoted proposal has (only for proposal period)
          format: int32
        topVotingPower:
          type:
          - integer
          - 'null'
          description: This is how much voting power the most upvoted proposal has (only for proposal period)
          format: int64
        ballotsQuorum:
          type:
          - number
          - 'null'
          description: Ballots quorum percentage (only for exploration and promotion periods)
          format: double
        supermajority:
          type:
          - number
          - 'null'
          description: Supermajority percentage (only for exploration and promotion periods)
          format: double
        yayBallots:
          type:
          - integer
          - 'null'
          description: The number of the ballots with "yay" vote (only for exploration and promotion periods)
          format: int32
        yayVotingPower:
          type:
          - integer
          - 'null'
          description: Total voting power of the ballots with "yay" vote (only for exploration and promotion periods)
          format: int64
        nayBallots:
          type:
          - integer
          - 'null'
          description: The number of the ballots with "nay" vote (only for exploration and promotion periods)
          format: int32
        nayVotingPower:
          type:
          - integer
          - 'null'
          description: Total voting power of the ballots with "nay" vote (only for exploration and promotion periods)
          format: int64
        passBallots:
          type:
          - integer
          - 'null'
          description: The number of the ballots with "pass" vote (only for exploration and promotion periods)
          format: int32
        passVotingPower:
          type:
          - integer
          - 'null'
          description: Total voting power of the ballots with "pass" vote (only for exploration and promotion periods)
          format: int64
    VoterStatusParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a voter status to get items where the specified field is equal to the specified value.


            Example: `?status=none`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a voter status to get items where the specified field is not equal to the specified value.


            Example: `?status.ne=none`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of voter statuses to get items where the specified field is equal to one of the specified values.


            Example: `?status.in=voted_yay,voted_nay`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of voter statuses to get items where the specified field is not equal to all the specified values.


            Example: `?status.ni=none,upvoted`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: none,upvoted,voted_yay,voted_nay,voted_pass
    VotingEpoch:
      type: object
      additionalProperties: false
      properties:
        index:
          type: integer
          description: Index of the voting epoch, starting from zero
          format: int32
        firstLevel:
          type: integer
          description: The height of the block in which the epoch starts
          format: int32
        startTime:
          type: string
          description: The timestamp of the block in which the epoch starts
          format: date-time
        lastLevel:
          type: integer
          description: The height of the block in which the epoch ends
          format: int32
        endTime:
          type: string
          description: The timestamp of the block in which the epoch ends
          format: date-time
        status:
          type: string
          description: 'Status of the voting epoch:

            `no_proposals` - there were no proposals proposed

            `voting` - there was at least one proposal and the voting is in progress

            `completed` - voting successfully completed and the proposal was accepted

            `failed` - voting was not completed due to either quorum or supermajority was not reached'
        periods:
          type: array
          description: Voting periods in the epoch
          items:
            $ref: '#/components/schemas/VotingPeriod'
        proposals:
          type: array
          description: Proposals pushed during the voting epoch (null, if there were no proposals).
          items:
            $ref: '#/components/schemas/Proposal'
    EpochStatusParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an epoch status to get items where the specified field is equal to the specified value.


            Example: `?status=completed`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an epoch status to get items where the specified field is not equal to the specified value.


            Example: `?status.ne=no_proposals`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of epoch statuses to get items where the specified field is equal to one of the specified values.


            Example: `?status.in=completed,failed`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of epoch statuses to get items where the specified field is not equal to all the specified values.


            Example: `?status.ni=completed,failed`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: no_proposals,voting,completed,failed
    VoterSnapshot:
      type: object
      additionalProperties: false
      properties:
        delegate:
          description: Voter identity
          oneOf:
          - $ref: '#/components/schemas/Alias'
        votingPower:
          type: integer
          description: Baker's voting power
          format: int64
        status:
          type: string
          description: 'Voter''s status:

            `none` - the voter did nothing

            `upvoted` - the voter upvoted at least one proposal

            `voted_yay` - the voter voted "yay"

            `voted_nay` - the voter voted "nay"

            `voted_pass` - the voter voted "pass"'
    Proposal:
      type: object
      additionalProperties: false
      properties:
        hash:
          type: string
          description: Hash of the proposal, which representing a tarball of concatenated .ml/.mli source files
        initiator:
          description: Information about the baker (delegate) submitted the proposal
          oneOf:
          - $ref: '#/components/schemas/Alias'
        firstPeriod:
          type: integer
          description: The first voting period where the proposal was active
          format: int32
        lastPeriod:
          type: integer
          description: The last voting period where the proposal was active
          format: int32
        epoch:
          type: integer
          description: The voting epoch where the proposal was active
          format: int32
        upvotes:
          type: integer
          description: The total number of upvotes (proposal operations)
          format: int32
        votingPower:
          type: integer
          description: The total voting power of bakers, upvoted the proposal
          format: int64
        status:
          type: string
          description: 'Status of the proposal

            `active` - the proposal in the active state

            `accepted` - the proposal was accepted

            `rejected` - the proposal was rejected due to too many "nay" ballots

            `skipped` - the proposal was skipped due to the quorum was not reached'
        extras:
          description: Off-chain extras
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
