openapi: 3.2.0
info:
  title: TzKT Head API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Head
paths:
  /v1/head:
    get:
      tags:
      - Head
      summary: Get indexer head
      description: Returns indexer head and synchronization status.
      operationId: Head_Get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
components:
  schemas:
    State:
      type: object
      additionalProperties: false
      properties:
        chain:
          type: string
          description: Alias name of the chain (or "private" if it's not on the list of known chains)
        chainId:
          type: string
          description: Unique identifier of the chain
        cycle:
          type: integer
          description: Current cycle
          format: int32
        level:
          type: integer
          description: The height of the last block from the genesis block
          format: int32
        hash:
          type: string
          description: Block hash
        protocol:
          type: string
          description: Current protocol hash
        nextProtocol:
          type: string
          description: Next block protocol hash
        timestamp:
          type: string
          description: The datetime at which the last block is claimed to have been created (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
        votingEpoch:
          type: integer
          description: Current voting epoch index, starting from zero
          format: int32
        votingPeriod:
          type: integer
          description: Current voting period index, starting from zero
          format: int32
        knownLevel:
          type: integer
          description: The height of the last known block from the genesis block
          format: int32
        lastSync:
          type: string
          description: The datetime of last TzKT indexer synchronization (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
        synced:
          type: boolean
          description: State of TzKT indexer synchronization
        quoteLevel:
          type: integer
          description: The height of the block where quotes were updated last time
          format: int32
        quoteBtc:
          type: number
          description: Last known XTZ/BTC price
          format: double
        quoteEur:
          type: number
          description: Last known XTZ/EUR price
          format: double
        quoteUsd:
          type: number
          description: Last known XTZ/USD price
          format: double
        quoteCny:
          type: number
          description: Last known XTZ/CNY price
          format: double
        quoteJpy:
          type: number
          description: Last known XTZ/JPY price
          format: double
        quoteKrw:
          type: number
          description: Last known XTZ/KRW price
          format: double
        quoteEth:
          type: number
          description: Last known XTZ/ETH price
          format: double
        quoteGbp:
          type: number
          description: Last known XTZ/GBP price
          format: double
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
