openapi: 3.2.0
info:
  title: TzKT Big Maps API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: BigMaps
paths:
  /v1/bigmaps/count:
    get:
      tags:
      - BigMaps
      summary: Get bigmaps count
      description: Returns the total number of bigmaps.
      operationId: BigMaps_GetBigMapsCount
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/bigmaps:
    get:
      tags:
      - BigMaps
      summary: Get bigmaps
      description: Returns a list of bigmaps.
      operationId: BigMaps_GetBigMaps
      parameters:
      - name: contract
        in: query
        description: Filters bigmaps by smart contract address.
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: path
        in: query
        description: Filters bigmaps by path in the contract storage.
        schema:
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: tags
        in: query
        description: 'Filters bigmaps by tags: `metadata`, `token_metadata`, `ledger`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigMapTagsParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: metadata,token_metadata,ledger
      - name: active
        in: query
        description: 'Filters bigmaps by status: `true` - active, `false` - removed.'
        schema:
          type:
          - boolean
          - 'null'
        x-position: 4
      - name: lastLevel
        in: query
        description: Filters bigmaps by the last update level.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value type: `0` - JSON, `2` - Micheline'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMap'
  /v1/bigmaps/keys:
    get:
      tags:
      - BigMaps
      summary: Get bigmap keys
      description: Returns a list of all bigmap keys.
      operationId: BigMaps_GetBigMapKeys
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: bigmap
        in: query
        description: "Filter by bigmap ptr.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: active
        in: query
        description: 'Filters by status: `true` - active, `false` - removed.'
        schema:
          type:
          - boolean
          - 'null'
        x-position: 3
      - name: hash
        in: query
        description: "Filter by key hash.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/ExpressionParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: key
        in: query
        description: "Filter by key.  \nNote, this parameter supports the following format: `key{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?key.foo.in=bar,baz`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 5
        x-tzkt-extension: json-parameter
      - name: value
        in: query
        description: "Filter by value.  \nNote, this parameter supports the following format: `value{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?value.foo.in=bar,baz`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 6
        x-tzkt-extension: json-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the key was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the key was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the key was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the key was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: updates
        in: query
        description: "Filter by number of actions with the bigmap key.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 14
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: micheline
        in: query
        description: 'Format of the `key` and `value` fields: `0` - JSON, `2` - Micheline'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 16
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapKeyFull'
  /v1/bigmaps/updates/count:
    get:
      tags:
      - BigMaps
      summary: Get bigmap updates count
      description: Returns a total number of bigmap updates.
      operationId: BigMaps_GetBigMapUpdates
      parameters:
      - name: bigmap
        in: query
        description: Filters by bigmap ptr
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: path
        in: query
        description: Filters by bigmap path
        schema:
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: contract
        in: query
        description: Filters by bigmap contract
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: tags
        in: query
        description: 'Filters by bigmap tags: `metadata`, `token_metadata`, `ledger`'
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigMapTagsParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: metadata,token_metadata,ledger
      - name: action
        in: query
        description: Filters by action
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigMapActionParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: allocate,add_key,update_key,remove_key,remove
      - name: value
        in: query
        description: "Filters by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 6
        x-tzkt-extension: json-parameter
      - name: level
        in: query
        description: Filters by level
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapUpdate'
  /v1/bigmaps/updates:
    get:
      tags:
      - BigMaps
      summary: Get bigmap updates
      description: Returns a list of all bigmap updates.
      operationId: BigMaps_GetBigMapUpdates2
      parameters:
      - name: bigmap
        in: query
        description: Filters by bigmap ptr
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: path
        in: query
        description: Filters by bigmap path
        schema:
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: contract
        in: query
        description: Filters by bigmap contract
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: tags
        in: query
        description: 'Filters by bigmap tags: `metadata`, `token_metadata`, `ledger`'
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigMapTagsParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: metadata,token_metadata,ledger
      - name: action
        in: query
        description: Filters by action
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigMapActionParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: allocate,add_key,update_key,remove_key,remove
      - name: value
        in: query
        description: "Filters by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 6
        x-tzkt-extension: json-parameter
      - name: level
        in: query
        description: Filters by level
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: Filters by timestamp
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value type: `0` - JSON, `2` - Micheline'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapUpdate'
  /v1/bigmaps/{id}:
    get:
      tags:
      - BigMaps
      summary: Get bigmap by Id
      description: Returns a bigmap with the specified Id.
      operationId: BigMaps_GetBigMapById
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value type: `0` - JSON, `2` - Micheline'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigMap'
  /v1/bigmaps/{id}/type:
    get:
      tags:
      - BigMaps
      summary: Get bigmap type
      description: Returns a type of the bigmap with the specified Id in Micheline format (with annotations).
      operationId: BigMaps_GetBigMapType
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MichelinePrim'
  /v1/bigmaps/{id}/keys:
    get:
      tags:
      - BigMaps
      summary: Get bigmap keys
      description: Returns a list of bigmap keys.
      operationId: BigMaps_GetKeys
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: active
        in: query
        description: 'Filters keys by status: `true` - active, `false` - removed.'
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: key
        in: query
        description: "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 3
        x-tzkt-extension: json-parameter
      - name: value
        in: query
        description: "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 4
        x-tzkt-extension: json-parameter
      - name: lastLevel
        in: query
        description: Filters bigmap keys by the last update level.
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts bigmap keys by specified field. Supported fields: `id` (default), `firstLevel`, `lastLevel`, `updates`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapKey'
  /v1/bigmaps/{id}/keys/{key}:
    get:
      tags:
      - BigMaps
      summary: Get bigmap key
      description: Returns the specified bigmap key.
      operationId: BigMaps_GetKey
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: key
        in: path
        required: true
        description: "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`."
        schema:
          type: string
        x-position: 2
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigMapKey'
  /v1/bigmaps/{id}/keys/{key}/updates:
    get:
      tags:
      - BigMaps
      summary: Get bigmap key updates
      description: Returns updates history for the specified bigmap key.
      operationId: BigMaps_GetKeyUpdates
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: key
        in: path
        required: true
        description: "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`."
        schema:
          type: string
        x-position: 2
      - name: sort
        in: query
        description: 'Sorts bigmap updates by specified field. Supported fields: `id` (default).'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 5
      - name: micheline
        in: query
        description: 'Format of the key value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 6
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapKeyUpdate'
  /v1/bigmaps/{id}/historical_keys/{level}:
    get:
      tags:
      - BigMaps
      summary: Get historical keys
      description: Returns a list of bigmap keys at the specific block.
      operationId: BigMaps_GetHistoricalKeys
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: level
        in: path
        required: true
        description: Level of the block at which you want to get bigmap keys
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: active
        in: query
        description: 'Filters keys by status: `true` - active, `false` - removed.'
        schema:
          type:
          - boolean
          - 'null'
        x-position: 3
      - name: key
        in: query
        description: "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 4
        x-tzkt-extension: json-parameter
      - name: value
        in: query
        description: "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 5
        x-tzkt-extension: json-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts bigmap keys by specified field. Supported fields: `id` (default).'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BigMapKeyHistorical'
  /v1/bigmaps/{id}/historical_keys/{level}/{key}:
    get:
      tags:
      - BigMaps
      summary: Get historical key
      description: Returns the specified bigmap key at the specific block.
      operationId: BigMaps_GetKey2
      parameters:
      - name: id
        in: path
        required: true
        description: Bigmap Id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: level
        in: path
        required: true
        description: Level of the block at which you want to get bigmap key
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: key
        in: path
        required: true
        description: "Either a key hash (`expr123...`) or a plain value (`foo...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`."
        schema:
          type: string
        x-position: 3
      - name: micheline
        in: query
        description: 'Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigMapKeyHistorical'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    StringParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a string to get items where the specified field is equal to the specified value.


            Example: `?parameters=abc`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a string to get items where the specified field is not equal to the specified value.


            Example: `?parameters.ne=abc`.'
        as:
          type:
          - string
          - 'null'
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.as=*mid*` or `?parameters.as=*end`.'
        un:
          type:
          - string
          - 'null'
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.un=*mid*` or `?parameters.un=*end`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is equal to one of the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.in=bla,bal,abl`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.ni=bla,bal,abl`.'
          items:
            type: string
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameters.null` or `?parameters.null=false`.'
      x-tzkt-extension: query-parameter
    BigMapKey:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal Id, can be used for pagination
          format: int32
        active:
          type: boolean
          description: Bigmap key status (`true` - active, `false` - removed)
        hash:
          type: string
          description: Key hash
        key:
          description: Key in JSON or Micheline format, depending on the `micheline` query parameter.
        value:
          description: 'Value in JSON or Micheline format, depending on the `micheline` query parameter.

            Note, if the key is inactive (removed) it will contain the last non-null value.'
        firstLevel:
          type: integer
          description: Level of the block where the bigmap key was seen first time
          format: int32
        lastLevel:
          type: integer
          description: Level of the block where the bigmap key was seen last time
          format: int32
        updates:
          type: integer
          description: Total number of actions with the bigmap key
          format: int32
    BigMapUpdate:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal Id, can be used for pagination
          format: int32
        level:
          type: integer
          description: Level of the block where the bigmap was updated
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block where the bigmap was updated
          format: date-time
        bigmap:
          type: integer
          description: Bigmap ptr
          format: int32
        contract:
          description: Smart contract in which's storage the bigmap is allocated
          oneOf:
          - $ref: '#/components/schemas/Alias'
        path:
          type: string
          description: Path to the bigmap in the contract storage
        action:
          type: string
          description: Action with the bigmap (`allocate`, `add_key`, `update_key`, `remove_key`, `remove`)
        content:
          description: 'Updated key.

            If the action is `allocate` or `remove` the content will be `null`.'
          oneOf:
          - $ref: '#/components/schemas/BigMapKeyShort'
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        eqx:
          type:
          - string
          - 'null'
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
        nex:
          type:
          - string
          - 'null'
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    MichelinePrim:
      type: object
      additionalProperties: false
      properties:
        prim:
          $ref: '#/components/schemas/PrimType'
        args:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IMicheline'
        annots:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IAnnotation'
    AnnotationType:
      type: integer
      description: ''
      x-enumNames:
      - Unsafe
      - Field
      - Type
      - Variable
      enum:
      - 0
      - 64
      - 128
      - 192
    IAnnotation:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/AnnotationType'
        value:
          type: string
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    JsonParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a JSON value to get items where the specified field is equal to the specified value.


            Example: `?parameter.from=tz1...` or `?parameter.signatures.[3].[0]=null` or `?parameter.sigs.[*]=null`.'
          x-tzkt-extension: json-parameter
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a JSON value to get items where the specified field is not equal to the specified value.


            Example: `?parameter.ne=true` or `?parameter.amount.ne=0`.'
          x-tzkt-extension: json-parameter
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a string to get items where the specified field is greater than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.gt=1234` or `?parameter.time.gt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a string to get items where the specified field is greater than equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.ge=1234` or `?parameter.time.ge=2021-02-01`.'
          x-tzkt-extension: json-parameter
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a string to get items where the specified field is less than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.lt=1234` or `?parameter.time.lt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a string to get items where the specified field is less than or equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.le=1234` or `?parameter.time.le=2021-02-01`.'
          x-tzkt-extension: json-parameter
        as:
          type:
          - string
          - 'null'
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.as=*mid*` or `?parameter.as=*end`.'
          x-tzkt-extension: json-parameter
        un:
          type:
          - string
          - 'null'
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.un=*mid*` or `?parameter.un=*end`.'
          x-tzkt-extension: json-parameter
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings or JSON array to get items where the specified field is equal to one of the specified values. \


            Example: `?parameter.amount.in=1,2,3` or `?parameter.in=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?parameter.amount.ni=1,2,3` or `?parameter.ni=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameter.null` or `?parameter.null=false` or `?parameter.sigs.[0].null=false`.'
          x-tzkt-extension: json-parameter
      x-tzkt-extension: json-parameter
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    ExpressionParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an expression hash to get items where the specified field is equal to the specified value.


            Example: `?address=expr...`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an expression hash to get items where the specified field is not equal to the specified value.


            Example: `?address.ne=expr...`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of expression hashes to get items where the specified field is equal to one of the specified values.


            Example: `?address.in=expr1,expr2`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of expression hashes to get items where the specified field is not equal to all the specified values.


            Example: `?address.ni=expr1,expr2`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    BigMapActionParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a contract kind to get items where the specified field is equal to the specified value.


            Example: `?kind=smart_contract`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a contract kind to get items where the specified field is not equal to the specified value.


            Example: `?kind.ne=delegator_contract`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is equal to one of the specified values.


            Example: `?kind.in=smart_contract,asset`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is not equal to all the specified values.


            Example: `?kind.ni=smart_contract,asset`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: allocate,add_key,update_key,remove_key,remove
    BigMapTagsParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - array
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a comma-separated list of bigmap tags to get bigmaps with exactly the same set of tags.

            Avoid using this mode and use `.any` or `.all` instead, because it may not work as expected due to internal ''hidden'' tags.


            Example: `?tags=metadata` or `?tags=token_metadata,metadata`.'
          items:
            type: string
        any:
          type:
          - array
          - 'null'
          description: '**Has any** filter mode. \

            Specify a comma-separated list of bigmap tags to get bigmaps where at least one of the specified tags is presented.


            Example: `?tags.any=metadata` or `?tags.any=token_metadata,metadata`.'
          items:
            type: string
        all:
          type:
          - array
          - 'null'
          description: '**Has all** filter mode. \

            Specify a comma-separated list of bigmap tags to get bigmaps where all of the specified tags are presented.


            Example: `?tags.all=metadata` or `?tags.all=token_metadata,metadata`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: metadata,token_metadata,ledger
    PrimType:
      type: integer
      description: ''
      x-enumNames:
      - parameter
      - storage
      - code
      - 'False'
      - Elt
      - Left
      - None
      - Pair
      - Right
      - Some
      - 'True'
      - Unit
      - PACK
      - UNPACK
      - BLAKE2B
      - SHA256
      - SHA512
      - ABS
      - ADD
      - AMOUNT
      - AND
      - BALANCE
      - CAR
      - CDR
      - CHECK_SIGNATURE
      - COMPARE
      - CONCAT
      - CONS
      - CREATE_ACCOUNT
      - CREATE_CONTRACT
      - IMPLICIT_ACCOUNT
      - DIP
      - DROP
      - DUP
      - EDIV
      - EMPTY_MAP
      - EMPTY_SET
      - EQ
      - EXEC
      - FAILWITH
      - GE
      - GET
      - GT
      - HASH_KEY
      - IF
      - IF_CONS
      - IF_LEFT
      - IF_NONE
      - INT
      - LAMBDA
      - LE
      - LEFT
      - LOOP
      - LSL
      - LSR
      - LT
      - MAP
      - MEM
      - MUL
      - NEG
      - NEQ
      - NIL
      - NONE
      - NOT
      - NOW
      - OR
      - PAIR
      - PUSH
      - RIGHT
      - SIZE
      - SOME
      - SOURCE
      - SENDER
      - SELF
      - STEPS_TO_QUOTA
      - SUB
      - SWAP
      - TRANSFER_TOKENS
      - SET_DELEGATE
      - UNIT
      - UPDATE
      - XOR
      - ITER
      - LOOP_LEFT
      - ADDRESS
      - CONTRACT
      - ISNAT
      - CAST
      - RENAME
      - bool
      - contract
      - int
      - key
      - key_hash
      - lambda
      - list
      - map
      - big_map
      - nat
      - option
      - or
      - pair
      - set
      - signature
      - string
      - bytes
      - mutez
      - timestamp
      - unit
      - operation
      - address
      - SLICE
      - DIG
      - DUG
      - EMPTY_BIG_MAP
      - APPLY
      - chain_id
      - CHAIN_ID
      - LEVEL
      - SELF_ADDRESS
      - never
      - NEVER
      - UNPAIR
      - VOTING_POWER
      - TOTAL_VOTING_POWER
      - KECCAK
      - SHA3
      - PAIRING_CHECK
      - bls12_381_g1
      - bls12_381_g2
      - bls12_381_fr
      - sapling_state
      - sapling_transaction_deprecated
      - SAPLING_EMPTY_STATE
      - SAPLING_VERIFY_UPDATE
      - ticket
      - TICKET_DEPRECATED
      - READ_TICKET
      - SPLIT_TICKET
      - JOIN_TICKETS
      - GET_AND_UPDATE
      - chest
      - chest_key
      - OPEN_CHEST
      - VIEW
      - view
      - constant
      - SUB_MUTEZ
      - tx_rollup_l2_address
      - MIN_BLOCK_TIME
      - sapling_transaction
      - EMIT
      - Lambda_rec
      - LAMBDA_REC
      - TICKET
      - BYTES
      - NAT
      - Ticket
      - IS_IMPLICIT_ACCOUNT
      - GET_ADDRESS_INDEX
      - INDEX_ADDRESS
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      - 28
      - 29
      - 30
      - 31
      - 32
      - 33
      - 34
      - 35
      - 36
      - 37
      - 38
      - 39
      - 40
      - 41
      - 42
      - 43
      - 44
      - 45
      - 46
      - 47
      - 48
      - 49
      - 50
      - 51
      - 52
      - 53
      - 54
      - 55
      - 56
      - 57
      - 58
      - 59
      - 60
      - 61
      - 62
      - 63
      - 64
      - 65
      - 66
      - 67
      - 68
      - 69
      - 70
      - 71
      - 72
      - 73
      - 74
      - 75
      - 76
      - 77
      - 78
      - 79
      - 80
      - 81
      - 82
      - 83
      - 84
      - 85
      - 86
      - 87
      - 88
      - 89
      - 90
      - 91
      - 92
      - 93
      - 94
      - 95
      - 96
      - 97
      - 98
      - 99
      - 100
      - 101
      - 102
      - 103
      - 104
      - 105
      - 106
      - 107
      - 108
      - 109
      - 110
      - 111
      - 112
      - 113
      - 114
      - 115
      - 116
      - 117
      - 118
      - 119
      - 120
      - 121
      - 122
      - 123
      - 124
      - 125
      - 126
      - 127
      - 128
      - 129
      - 130
      - 131
      - 132
      - 133
      - 134
      - 135
      - 136
      - 137
      - 138
      - 139
      - 140
      - 141
      - 142
      - 143
      - 144
      - 145
      - 146
      - 147
      - 148
      - 149
      - 150
      - 151
      - 152
      - 153
      - 154
      - 155
      - 156
      - 157
      - 158
      - 159
      - 160
    MichelineType:
      type: integer
      description: ''
      x-enumNames:
      - Int
      - Bytes
      - String
      - Array
      - Prim
      enum:
      - 0
      - 32
      - 64
      - 96
      - 128
    MichelineFormat:
      type: string
      description: ''
      x-enumNames:
      - Json
      - JsonString
      - Raw
      - RawString
      enum:
      - Json
      - JsonString
      - Raw
      - RawString
    SelectionParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example:

            `?select=address,balance as b,metadata.name as meta_name` will result in

            `[ { "address": "asd", "b": 10, "meta_name": "qwe" } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example:

            `?select.values=address,balance,metadata.name`  will result in

            `[ [ "asd", 10, "qwe" ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    BigMapKeyHistorical:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal Id, can be used for pagination
          format: int32
        active:
          type: boolean
          description: Bigmap key status (`true` - active, `false` - removed)
        hash:
          type: string
          description: Key hash
        key:
          description: Key in JSON or Micheline format, depending on the `micheline` query parameter.
        value:
          description: 'Value in JSON or Micheline format, depending on the `micheline` query parameter.

            Note, if the key is inactive (removed) it will contain the last non-null value.'
    BigMapKeyShort:
      type: object
      additionalProperties: false
      properties:
        hash:
          type: string
          description: Key hash
        key:
          description: Key in JSON or Micheline format, depending on the `micheline` query parameter.
        value:
          description: 'Value in JSON or Micheline format, depending on the `micheline` query parameter.

            Note, if the action is `remove_key` it will contain the last non-null value.'
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
    IMicheline:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/MichelineType'
    BigMapKeyFull:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int32
        bigmap:
          type: integer
          description: Bigmap ptr.
          format: int32
        active:
          type: boolean
          description: Key status (`true` - active, `false` - removed).
        hash:
          type: string
          description: Key hash.
        key:
          description: "Key in JSON or Micheline format, depending on the `micheline` query parameter.  \n**[sortable]**"
        value:
          description: "Value in JSON or Micheline format, depending on the `micheline` query parameter.\nNote, if the key is inactive (removed) this field will contain the last non-null value.  \n**[sortable]**"
        firstLevel:
          type: integer
          description: "Level of the block where the key was first seen.  \n**[sortable]**"
          format: int32
        firstTime:
          type: string
          description: Timestamp of the block where the key was first seen.
          format: date-time
        lastLevel:
          type: integer
          description: "Level of the block where the key was last seen.  \n**[sortable]**"
          format: int32
        lastTime:
          type: string
          description: Timestamp of the block where the key was last seen.
          format: date-time
        updates:
          type: integer
          description: "Total number of actions with the key.  \n**[sortable]**"
          format: int32
    BigMapKeyUpdate:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal Id, can be used for pagination
          format: int32
        level:
          type: integer
          description: Level of the block where the bigmap key was updated
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block where the bigmap key was updated
          format: date-time
        action:
          type: string
          description: Action with the key (`add_key`, `update_key`, `remove_key`)
        value:
          description: 'Value in JSON or Micheline format, depending on the `micheline` query parameter.

            Note, if the action is `remove_key` it will contain the last non-null value.'
    BigMap:
      type: object
      additionalProperties: false
      properties:
        ptr:
          type: integer
          description: Bigmap pointer
          format: int32
        contract:
          description: Smart contract in which's storage the bigmap is allocated
          oneOf:
          - $ref: '#/components/schemas/Alias'
        path:
          type: string
          description: 'Path to the bigmap in the contract storage '
        tags:
          type:
          - array
          - 'null'
          description: List of tags ( `metadata`, `token_metadata`,`ledger`, or `null` if there are no tags)
          items:
            type: string
        active:
          type: boolean
          description: Bigmap status (`true` - active, `false` - removed)
        firstLevel:
          type: integer
          description: Level of the block where the bigmap was seen first time
          format: int32
        lastLevel:
          type: integer
          description: Level of the block where the bigmap was seen last time
          format: int32
        totalKeys:
          type: integer
          description: Total number of keys ever added to the bigmap
          format: int32
        activeKeys:
          type: integer
          description: Total number of currently active keys
          format: int32
        updates:
          type: integer
          description: Total number of actions with the bigmap
          format: int32
        keyType:
          description: Bigmap key type as JSON schema or Micheline, depending on the `micheline` query parameter.
        valueType:
          description: Bigmap value type as JSON schema or Micheline, depending on the `micheline` query parameter.
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
