openapi: 3.2.0
info:
  title: TzKT Cycles API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Cycles
paths:
  /v1/cycles/count:
    get:
      tags:
      - Cycles
      summary: Get cycles count
      description: Returns the total number of cycles, including future cycles.
      operationId: Cycles_GetCount
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/cycles:
    get:
      tags:
      - Cycles
      summary: Get cycles
      description: Returns a list of cycles, including future cycles.
      operationId: Cycles_Get
      parameters:
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts cycles by specified field. Supported fields: `index` (default, desc).'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cycle'
  /v1/cycles/{index}:
    get:
      tags:
      - Cycles
      summary: Get cycle by index
      description: Returns a cycle at the specified index.
      operationId: Cycles_GetByIndex
      parameters:
      - name: index
        in: path
        required: true
        description: Cycle index starting from zero
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    Symbols:
      type: string
      description: ''
      x-enumFlags: true
      x-enumNames:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
      enum:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    Cycle:
      type: object
      additionalProperties: false
      properties:
        index:
          type: integer
          description: Cycle index starting from zero
          format: int32
        firstLevel:
          type: integer
          description: Level of the first block in the cycle
          format: int32
        startTime:
          type: string
          description: Timestamp of the first block in the cycle
          format: date-time
        lastLevel:
          type: integer
          description: Level of the last block in the cycle
          format: int32
        endTime:
          type: string
          description: Timestamp of the last block in the cycle
          format: date-time
        snapshotLevel:
          type: integer
          description: Height of the block where the snapshot was taken
          format: int32
        randomSeed:
          type: string
          description: Randomly generated seed used by the network for things like baking rights distribution etc.
        totalBakers:
          type: integer
          description: Total number of all active in this cycle bakers
          format: int32
        totalBakingPower:
          type: integer
          description: Total baking power of all active in this cycle bakers
          format: int64
        blockReward:
          type: integer
          description: Fixed reward paid to the block payload proposer in this cycle (micro tez)
          format: int64
        blockBonusPerBlock:
          type: integer
          description: Bonus reward paid to the block producer in this cycle (micro tez)
          format: int64
        attestationRewardPerBlock:
          type: integer
          description: Reward for attestation in this cycle (micro tez)
          format: int64
        nonceRevelationReward:
          type: integer
          description: Reward for seed nonce revelation in this cycle (micro tez)
          format: int64
        vdfRevelationReward:
          type: integer
          description: Reward for vdf revelation in this cycle (micro tez)
          format: int64
        dalAttestationRewardPerShard:
          type: integer
          description: Reward for dal attestation in this cycle (micro tez)
          format: int64
        quote:
          description: Injected historical quote at the end of the cycle
          oneOf:
          - $ref: '#/components/schemas/QuoteShort'
        blockBonusPerSlot:
          type: integer
          description: '**DEPRECATED**'
          format: int64
        attestationRewardPerSlot:
          type: integer
          description: '**DEPRECATED**'
          format: int64
        endorsementRewardPerSlot:
          type: integer
          description: '**DEPRECATED**'
          format: int64
    QuoteShort:
      type: object
      additionalProperties: false
      properties:
        btc:
          type:
          - number
          - 'null'
          description: XTZ/BTC price
          format: double
        eur:
          type:
          - number
          - 'null'
          description: XTZ/EUR price
          format: double
        usd:
          type:
          - number
          - 'null'
          description: XTZ/USD price
          format: double
        cny:
          type:
          - number
          - 'null'
          description: XTZ/CNY price
          format: double
        jpy:
          type:
          - number
          - 'null'
          description: XTZ/JPY price
          format: double
        krw:
          type:
          - number
          - 'null'
          description: XTZ/KRW price
          format: double
        eth:
          type:
          - number
          - 'null'
          description: XTZ/ETH price
          format: double
        gbp:
          type:
          - number
          - 'null'
          description: XTZ/GBP price
          format: double
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
