openapi: 3.2.0
info:
  title: TzKT Commitments API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Commitments
paths:
  /v1/commitments/{address}:
    get:
      tags:
      - Commitments
      summary: Get commitment by blinded address
      description: Returns a commitment with the specified blinded address.
      operationId: Commitments_Get
      parameters:
      - name: address
        in: path
        required: true
        description: Blinded address (starting with btz)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commitment'
  /v1/commitments:
    get:
      tags:
      - Commitments
      summary: Get commitments
      description: Returns a list of commitments.
      operationId: Commitments_GetAll
      parameters:
      - name: activated
        in: query
        description: Filters commitments by activation status
        schema:
          type:
          - boolean
          - 'null'
        x-position: 1
      - name: activationLevel
        in: query
        description: Filters commitments by activation level
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32NullParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: Filters commitments by activated balance
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `activationLevel`.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Commitment'
  /v1/commitments/count:
    get:
      tags:
      - Commitments
      summary: Get commitments count
      description: Returns a number of commitments.
      operationId: Commitments_GetCount
      parameters:
      - name: activated
        in: query
        description: Filters commitments by activation status
        schema:
          type:
          - boolean
          - 'null'
        x-position: 1
      - name: balance
        in: query
        description: Filters commitments by activated balance
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    Commitment:
      type: object
      additionalProperties: false
      properties:
        address:
          type: string
          description: Blinded address of the account
        balance:
          type: integer
          description: Account balance to be activated
          format: int64
        activated:
          type: boolean
          description: Flag showing whether the account has been activated or not.
        activationLevel:
          type:
          - integer
          - 'null'
          description: Level of the block at which the account has been activated. `null` if the account is not activated yet.
          format: int32
        activationTime:
          type:
          - string
          - 'null'
          description: Datetime of the block at which the account has been activated (ISO 8601, e.g. `2020-02-20T02:40:57Z`). `null` if the account is not activated yet.
          format: date-time
        activatedAccount:
          description: Info about activated account. `null` if the account is not activated yet.
          oneOf:
          - $ref: '#/components/schemas/Alias'
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    Int32NullParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
