openapi: 3.2.0
info:
  title: TzKT Tickets API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Tickets
paths:
  /v1/tickets/count:
    get:
      tags:
      - Tickets
      summary: Get tickets count
      description: Returns a total number of tickets.
      operationId: Tickets_GetTicketsCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 5
        x-tzkt-extension: json-parameter
      - name: typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: firstMinter
        in: query
        description: "Filter by address of the first minter.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the ticket was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the ticket was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the ticket was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the ticket was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/tickets:
    get:
      tags:
      - Tickets
      summary: Get tickets
      description: Returns a list of tickets.
      operationId: Tickets_GetTickets
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 5
        x-tzkt-extension: json-parameter
      - name: typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: firstMinter
        in: query
        description: "Filter by address of the first minter.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the ticket was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the ticket was first seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the ticket was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the ticket was last seen.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 15
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticket'
  /v1/tickets/balances/count:
    get:
      tags:
      - Tickets
      summary: Get ticket balances count
      description: Returns a total number of ticket balances.
      operationId: Tickets_GetTicketBalancesCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: ticket.id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: ticket.ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: ticket.rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: ticket.rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: ticket.content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 6
        x-tzkt-extension: json-parameter
      - name: ticket.typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: ticket.contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: account
        in: query
        description: "Filter by account address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: "Filter by balance.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/NatParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: transfersCount
        in: query
        description: "Filter by number of transfers.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the balance was first changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the balance was first changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the balance was last changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the balance was last changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/tickets/balances:
    get:
      tags:
      - Tickets
      summary: Get ticket balances
      description: Returns a list of ticket balances.
      operationId: Tickets_GetTicketBalances
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: ticket.id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: ticket.ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: ticket.rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: ticket.rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: ticket.content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 6
        x-tzkt-extension: json-parameter
      - name: ticket.typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: ticket.contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: account
        in: query
        description: "Filter by account address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: "Filter by balance.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/NatParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: transfersCount
        in: query
        description: "Filter by number of transfers.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the balance was first changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the balance was first changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the balance was last changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the balance was last changed.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 17
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 18
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 19
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketBalance'
  /v1/tickets/transfers/count:
    get:
      tags:
      - Tickets
      summary: Get ticket transfers count
      description: Returns the total number of ticket transfers.
      operationId: Tickets_GetTicketTransfersCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block where the transfer was made.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the transfer was made.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: ticket.id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: ticket.ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: ticket.rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: ticket.rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: ticket.content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 8
        x-tzkt-extension: json-parameter
      - name: ticket.typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: ticket.contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: anyof
        in: query
        description: "Filter by any of the specified fields (`from` or `to`).\nExample: `anyof.from.to=tz1...` will return transfers where `from` OR `to` is equal to the specified value.\nThis parameter is useful when you need to get both incoming and outgoing transfers of the account at once.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 11
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: from,to
      - name: from
        in: query
        description: "Filter by sender address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: to
        in: query
        description: "Filter by recepient address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: amount
        in: query
        description: "Filter by amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/NatParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: transactionId
        in: query
        description: "Filter by id of the transaction, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: transferTicketId
        in: query
        description: "Filter by id of the transfer_ticket operation, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: smartRollupExecuteId
        in: query
        description: "Filter by id of the smart_rollup_execute operation, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 17
        x-tzkt-extension: query-parameter
      - name: or.ColsAndVals
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ValueTupleOfStringAndListOfInteger'
        x-position: 18
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/tickets/transfers:
    get:
      tags:
      - Tickets
      summary: Get ticket transfers
      description: Returns a list of ticket transfers.
      operationId: Tickets_GetTicketTransfers
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block where the transfer was made.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the transfer was made.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: ticket.id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: ticket.ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: ticket.rawType
        in: query
        description: "Filter by ticket content type in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: ticket.rawContent
        in: query
        description: "Filter by ticket content in Micheline format.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/MichelineParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: ticket.content
        in: query
        description: "Filter by ticket content in JSON format.  \nNote, this parameter supports the following format: `content{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?content.color.in=red,green`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 8
        x-tzkt-extension: json-parameter
      - name: ticket.typeHash
        in: query
        description: "Filter by 32-bit hash of ticket content type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: ticket.contentHash
        in: query
        description: "Filter by 32-bit hash of ticket content.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: anyof
        in: query
        description: "Filter by any of the specified fields (`from` or `to`).\nExample: `anyof.from.to=tz1...` will return transfers where `from` OR `to` is equal to the specified value.\nThis parameter is useful when you need to get both incoming and outgoing transfers of the account at once.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AnyOfParameter'
        x-position: 11
        x-tzkt-extension: anyof-parameter
        x-tzkt-anyof-parameter: from,to
      - name: from
        in: query
        description: "Filter by sender address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: to
        in: query
        description: "Filter by recepient address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: amount
        in: query
        description: "Filter by amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/NatParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: transactionId
        in: query
        description: "Filter by id of the transaction, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: transferTicketId
        in: query
        description: "Filter by id of the transfer_ticket operation, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: smartRollupExecuteId
        in: query
        description: "Filter by id of the smart_rollup_execute operation, caused the ticket transfer.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 17
        x-tzkt-extension: query-parameter
      - name: or.ColsAndVals
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ValueTupleOfStringAndListOfInteger'
        x-position: 18
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 19
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 20
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 21
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 22
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketTransfer'
  /v1/tickets/historical_balances/{level}:
    get:
      tags:
      - Tickets
      summary: Get historical ticket balances
      description: 'Returns a list of ticket balances at the end of the specified block.

        Note, this endpoint is quite heavy, therefore at least one of the filters

        (`account`, `ticket.id`, `ticket.ticketer`) must be specified.'
      operationId: Tickets_GetHistoricalTicketBalances
      parameters:
      - name: level
        in: path
        required: true
        description: Level of the block at the end of which historical balances must be calculated
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: ticket.id
        in: query
        description: 'Filter by internal TzKT id.

          Click on the parameter to expand more details.'
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: ticket.ticketer
        in: query
        description: "Filter by ticketer address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: account
        in: query
        description: "Filter by account address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: "Filter by balance.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/NatParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 9
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketBalanceShort'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    TicketBalanceShort:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int64
        ticket:
          description: "Ticket info.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/TicketInfoShort'
        account:
          description: "Owner account.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/Alias'
        balance:
          type: string
          description: 'Balance.  '
    Int64NullParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
      x-tzkt-extension: query-parameter
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        eqx:
          type:
          - string
          - 'null'
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
        nex:
          type:
          - string
          - 'null'
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    MichelineParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify Micheline JSON value to get items where the specified field is equal to the specified value.


            Example: `?type={"prim":"string"}`.'
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        ne:
          description: '**Not equal** filter mode. \

            Specify Micheline JSON value to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne={"prim":"string"}`.'
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of Micheline JSON values where the specified field is equal to one of the specified values.


            Example: `?type.in={"prim":"string"},{"prim":"nat"}`.'
          items:
            $ref: '#/components/schemas/IMicheline'
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of Micheline JSON values where the specified field is not equal to all the specified values.


            Example: `?type.ni={"prim":"string"},{"prim":"nat"}`.'
          items:
            $ref: '#/components/schemas/IMicheline'
      x-tzkt-extension: query-parameter
    TicketBalance:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int64
        ticket:
          description: "Ticket info.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/TicketInfo'
        account:
          description: "Owner account.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/Alias'
        balance:
          type: string
          description: "Balance.  \n**[sortable]**"
        transfersCount:
          type: integer
          description: "Total number of transfers, affecting the ticket balance.  \n**[sortable]**"
          format: int32
        firstLevel:
          type: integer
          description: "Level of the block where the ticket balance was first changed.  \n**[sortable]**"
          format: int32
        firstTime:
          type: string
          description: Timestamp of the block where the ticket balance was first changed.
          format: date-time
        lastLevel:
          type: integer
          description: "Level of the block where the ticket balance was last changed.  \n**[sortable]**"
          format: int32
        lastTime:
          type: string
          description: Timestamp of the block where the ticket balance was last changed.
          format: date-time
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    TicketInfo:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal TzKT id.
          format: int64
        ticketer:
          description: Contract, issued the ticket.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        rawType:
          description: Ticket content type in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        rawContent:
          description: Ticket content in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        content:
          description: Ticket content in JSON format.
        typeHash:
          type: integer
          description: 32-bit hash of the ticket content type.
          format: int32
        contentHash:
          type: integer
          description: 32-bit hash of the ticket content.
          format: int32
        totalSupply:
          type: string
          description: Total amount exists.
    JsonParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a JSON value to get items where the specified field is equal to the specified value.


            Example: `?parameter.from=tz1...` or `?parameter.signatures.[3].[0]=null` or `?parameter.sigs.[*]=null`.'
          x-tzkt-extension: json-parameter
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a JSON value to get items where the specified field is not equal to the specified value.


            Example: `?parameter.ne=true` or `?parameter.amount.ne=0`.'
          x-tzkt-extension: json-parameter
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a string to get items where the specified field is greater than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.gt=1234` or `?parameter.time.gt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a string to get items where the specified field is greater than equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.ge=1234` or `?parameter.time.ge=2021-02-01`.'
          x-tzkt-extension: json-parameter
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a string to get items where the specified field is less than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.lt=1234` or `?parameter.time.lt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a string to get items where the specified field is less than or equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.le=1234` or `?parameter.time.le=2021-02-01`.'
          x-tzkt-extension: json-parameter
        as:
          type:
          - string
          - 'null'
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.as=*mid*` or `?parameter.as=*end`.'
          x-tzkt-extension: json-parameter
        un:
          type:
          - string
          - 'null'
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.un=*mid*` or `?parameter.un=*end`.'
          x-tzkt-extension: json-parameter
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings or JSON array to get items where the specified field is equal to one of the specified values. \


            Example: `?parameter.amount.in=1,2,3` or `?parameter.in=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?parameter.amount.ni=1,2,3` or `?parameter.ni=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameter.null` or `?parameter.null=false` or `?parameter.sigs.[0].null=false`.'
          x-tzkt-extension: json-parameter
      x-tzkt-extension: json-parameter
    ValueTupleOfStringAndListOfInteger:
      type: object
      additionalProperties: false
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    TicketTransfer:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int64
        level:
          type: integer
          description: "Level of the block, at which the transfer was made.  \n**[sortable]**"
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block, at which the transfer was made.
          format: date-time
        ticket:
          description: "Ticket info.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/TicketInfo'
        from:
          description: "Sender account.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/Alias'
        to:
          description: "Recipient account.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/Alias'
        amount:
          type: string
          description: "Amount of tickets transferred.  \n**[sortable]**"
        transactionId:
          type:
          - integer
          - 'null'
          description: Internal TzKT id of the transaction operation, caused the ticket transfer.
          format: int64
        transferTicketId:
          type:
          - integer
          - 'null'
          description: Internal TzKT id of the transfer_ticket operation, caused the ticket transfer.
          format: int64
        smartRollupExecuteId:
          type:
          - integer
          - 'null'
          description: Internal TzKT id of the smart_rollup_execute operation, caused the ticket transfer.
          format: int64
    MichelineType:
      type: integer
      description: ''
      x-enumNames:
      - Int
      - Bytes
      - String
      - Array
      - Prim
      enum:
      - 0
      - 32
      - 64
      - 96
      - 128
    Ticket:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int64
        ticketer:
          description: Contract, issued the ticket.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        rawType:
          description: Ticket content type in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        rawContent:
          description: Ticket content in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        content:
          description: Ticket content in JSON format.
        typeHash:
          type: integer
          description: 32-bit hash of the ticket content type.
          format: int32
        contentHash:
          type: integer
          description: 32-bit hash of the ticket content.
          format: int32
        firstMinter:
          description: Account, minted the ticket first.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        firstLevel:
          type: integer
          description: "Level of the block where the ticket was first seen.  \n**[sortable]**"
          format: int32
        firstTime:
          type: string
          description: Timestamp of the block where the ticket was first seen.
          format: date-time
        lastLevel:
          type: integer
          description: "Level of the block where the ticket was last seen.  \n**[sortable]**"
          format: int32
        lastTime:
          type: string
          description: Timestamp of the block where the ticket was last seen.
          format: date-time
        transfersCount:
          type: integer
          description: "Total number of transfers.  \n**[sortable]**"
          format: int32
        balancesCount:
          type: integer
          description: "Total number of holders ever seen.  \n**[sortable]**"
          format: int32
        holdersCount:
          type: integer
          description: "Total number of current holders.  \n**[sortable]**"
          format: int32
        totalMinted:
          type: string
          description: Total amount minted.
        totalBurned:
          type: string
          description: Total amount burned.
        totalSupply:
          type: string
          description: Total amount exists.
    SelectionParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example:

            `?select=address,balance as b,metadata.name as meta_name` will result in

            `[ { "address": "asd", "b": 10, "meta_name": "qwe" } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example:

            `?select.values=address,balance,metadata.name`  will result in

            `[ [ "asd", 10, "qwe" ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
    TicketInfoShort:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: Internal TzKT id.
          format: int64
        ticketer:
          description: Contract, issued the ticket.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        rawType:
          description: Ticket content type in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        rawContent:
          description: Ticket content in Micheline format.
          oneOf:
          - $ref: '#/components/schemas/IMicheline'
        content:
          description: Ticket content in JSON format.
        typeHash:
          type: integer
          description: '32-bit hash of the ticket content type.

            This field can be used for searching similar tickets (which have the same type).'
          format: int32
        contentHash:
          type: integer
          description: '32-bit hash of the ticket content.

            This field can be used for searching same tickets (which have the same content).'
          format: int32
    IMicheline:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/MichelineType'
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    NatParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `nat` value to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `nat` value to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a `nat` value to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a `nat` value to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a `nat` value to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a `nat` value to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of `nat` values to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of `nat` values to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    AnyOfParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a value to get items where any of the specified fields is equal to the specified value.


            Example: `?anyof.sender.target=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of values to get items where any of the specified fields is equal to one of the specified values.


            Example: `?anyof.sender.target.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M,null`.'
          items:
            type: string
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where any of the specified fields is null or not.


            Example: `?anyof.from.to.null` or `?anyof.from.to.null=false`.'
      x-tzkt-extension: anyof-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
