openapi: 3.0.0
info:
  title: TzKT Accounts API
  description: "# Introduction\r\n\r\nTzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer. \r\nYou can fetch all historical data via REST API, or subscribe for real-time data via WebSocket API. TzKT was built by the joint efforts of the entire Tezos community \r\nto help developers build more services and dapps on top of Tezos.\r\n\r\nTzKT Indexer and API are [open-source](https://github.com/baking-bad/tzkt), so don't be afraid to depend on the third-party service,\r\nbecause you can always clone, build and run it yourself to have full control over all the components.\r\n\r\nFeel free to contact us if you have any questions or feature requests.\r\nYour feedback is much appreciated!\r\n\r\n- Discord: https://discord.gg/aG8XKuwsQd\r\n- Telegram: https://t.me/baking_bad_chat\r\n- X: https://x.com/TezosBakingBad\r\n- Email: hello@bakingbad.dev\r\n\r\nAnd don't forget to star TzKT [on GitHub](https://github.com/baking-bad/tzkt) if you like it \U0001F60A\r\n\r\n# Get Started\r\n\r\nThere are two API services provided for public use:\r\n- **Free TzKT API** with free anonymous access;\r\n- **TzKT Pro** with paid subscriptions with increased rate limits, off-chain data, extended support and business-level SLA.\r\n\r\nYou can find more details about differences between available tiers [here](https://tzkt.io/api).\r\n\r\n## Free TzKT API\r\n\r\nFree-tier TzKT API is the best way to get started and explore available Tezos data and API functionality.\r\nIt doesn't require authorization and is free for everyone and for both commercial and non-commercial use.\r\n\r\n> #### Note: attribution required\r\nIf you use free-tier TzKT API, you **must** mention it on your website or application by placing the label\r\n\"Powered by TzKT API\", or \"Built with TzKT API\", or \"Data provided by TzKT API\" with a direct link to [tzkt.io](https://tzkt.io).\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://api.tzkt.io/` or `https://api.mainnet.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Ghostnet: `https://api.ghostnet.tzkt.io/` ([view docs](https://api.ghostnet.tzkt.io))\r\n- Shadownet: `https://api.shadownet.tzkt.io/` ([view docs](https://api.shadownet.tzkt.io))\r\n- Seoulnet: `https://api.seoulnet.tzkt.io/` ([view docs](https://api.seoulnet.tzkt.io))\r\n- Tallinnnet: `https://api.tallinnnet.tzkt.io/` ([view docs](https://api.tallinnnet.tzkt.io))\r\n\r\n### Sending Requests\r\n\r\nTo send a request to Free TzKT API you need literally nothing. Just take the base URL of the particular network\r\n(for example, Tezos mainnet: `https://api.tzkt.io`) and append the path of the particular endpoint\r\n(for example, chain's head: `/v1/head`), that's pretty much it: \r\n\r\n```bash\r\ncurl https://api.tzkt.io/v1/head\r\n```\r\n\r\nRead through this documentation to explore available endpoints, query parameters\r\n(note, if you click on a query parameter, you will see available modes, such as `.eq`, `.in`, etc.)\r\nand response models. If you have any questions, do not hesitate to ask for support, Tezos community has always been very friendly! \U0001F609\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits.\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n\r\n## TzKT Pro\r\n\r\nTzKT Pro is intended for professional use, for those who seek for extended capabilities, performance, reliability and business-level SLA.\r\nTzKT Pro service is provided via paid subscriptions. Please, refer to [Pricing Plans](https://tzkt.io/api) to check available tiers.\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://pro.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Testnets: *let us know if you need TzKT Pro for testnets*\r\n\r\n### Authorization\r\n\r\nTo access TzKT Pro you will need to authorize requests with your personal API key, that you will receive on your email after purchasing a subscription.\r\nThis can be done by adding the query string parameter `?apikey={your_key}` or by adding the HTTP header `apikey: {your_key}`.\r\n\r\nNote that you can have multiple API keys within a single subscription.\r\n\r\nKeep your API keys private, do not publish it anywhere and do not hardcode it, especially in public repositories.\r\nIf your key was compromised, just let us know and we will issue a new one.\r\n\r\nAlso note that passing the API key via HTTP headers is more secure, because in HTTPS headers are encrypted,\r\nbut query string is not, so the key can be unintentionally exposed to third parties.\r\n\r\n### Sending Requests\r\n\r\nSending a request with the API key passed as a query string parameter:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head?apikey={your_key}\r\n```\r\n\r\nSending a request with the API key passed via an HTTP header:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head \\\r\n    -H 'apikey: {your_key}'\r\n```\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits for different pricing plans.\r\n\r\nAlso, TzKT Pro provides you with the additional HTTP headers to show the allowed limits, number of available requests\r\nand the time remaining (in seconds) until the quota is reset. Here's an example:\r\n\r\n```\r\nRateLimit-Limit: 50\r\nRateLimit-Remaining: 49\r\nRateLimit-Reset: 1\r\n```\r\n\r\nIt also sends general information about your rate limits per second and per day:\r\n\r\n```\r\nX-RateLimit-Limit-Second: 50\r\nX-RateLimit-Remaining-Second: 49\r\nX-RateLimit-Limit-Day: 3000000\r\nX-RateLimit-Remaining-Day: 2994953\r\n```\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n"
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Accounts
paths:
  /v1/accounts:
    get:
      tags:
      - Accounts
      summary: Get accounts
      description: Returns a list of accounts.
      operationId: Accounts_Get
      parameters:
      - name: id
        in: query
        description: Filters by internal id.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: address
        in: query
        description: Filters by address.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AddressParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: type
        in: query
        description: Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: kind
        in: query
        description: Filters accounts by contract kind (`delegator_contract` or `smart_contract`)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ContractKindParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: delegator_contract,smart_contract
      - name: delegate
        in: query
        description: 'Filters accounts by delegate. Allowed fields for `.eqx` mode: none.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: stakedPseudotokens
        in: query
        description: Filters accounts by amount of staked pseudotokens.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BigIntegerNullableParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: balance
        in: query
        description: Filters accounts by balance
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: staked
        in: query
        description: Filters accounts by participation in staking
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: lastActivity
        in: query
        description: Filters accounts by last activity level (where the account was updated)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `rollupBonds`, `firstActivity`, `lastActivity`, `numTransactions`, `numContracts`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 13
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
  /v1/accounts/activity:
    get:
      tags:
      - Accounts
      summary: Get accounts activity
      operationId: Accounts_GetActivity
      parameters:
      - name: addresses
        in: query
        description: Comma-separated list of account addresses to get activity of.
        schema:
          type: string
        x-position: 1
      - name: roles
        in: query
        description: Comma-separated list of activity roles (`sender`, `target`, `initiator`, `mention`) to filter activity by.
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: types
        in: query
        description: "Comma-separated list of activity types (`activation`, `autostaking`, `baking`, `ballot`, `dal_attestation_reward`,\n            `dal_entrapment_evidence`, `dal_publish_commitment`, `delegation`, `double_baking`, `double_consensus`, `drain_delegate`, \n            `attestation`, `attestation_reward`, `increase_paid_storage`, `migration`, `nonce_revelation`, `origination`, `preattestation`, `proposal`,\n            `register_constant`, `reveal`, `revelation_penalty`, `set_delegate_parameters`, `set_deposits_limit`, `sr_add_messages`, `sr_cement`, `sr_execute`,\n            `sr_originate`, `sr_publish`, `sr_recover_bond`, `sr_refute`, `staking`, `transaction`, `transfer_ticket`, `tx_rollup_commit`, `tx_rollup_dispatch_tickets`,\n            `tx_rollup_finalize_commitment`, `tx_rollup_origination`, `tx_rollup_rejection`, `tx_rollup_remove_commitment`, `tx_rollup_return_bond`, `tx_rollup_submit_batch`,\n            `vdf_revelation`, `update_secondary_key`, `ticket_transfer`, `token_transfer`)"
        schema:
          type: string
          nullable: true
        x-position: 3
      - name: timestamp
        in: query
        description: Filter activity by timestamp.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sort mode: 0 - asc (oldest to newest), 1 - desc (newest to oldest).'
        schema:
          default: Descending
          oneOf:
          - $ref: '#/components/schemas/SortMode'
        x-position: 5
      - name: lastId
        in: query
        description: Id of the last activity element received, which is used for cursor pagination.
        schema:
          type: integer
          format: int64
          nullable: true
        x-position: 6
      - name: limit
        in: query
        description: Number of elements to return.
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 1000.0
          minimum: 0.0
        x-position: 7
      - name: micheline
        in: query
        description: 'Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string.'
        schema:
          default: Json
          oneOf:
          - $ref: '#/components/schemas/MichelineFormat'
        x-position: 8
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response.
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 9
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  /v1/accounts/count:
    get:
      tags:
      - Accounts
      summary: Get accounts count
      description: Returns a number of accounts.
      operationId: Accounts_GetCount
      parameters:
      - name: type
        in: query
        description: Filters accounts by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 1
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: kind
        in: query
        description: Filters accounts by contract kind (`delegator_contract` or `smart_contract`)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ContractKindParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: delegator_contract,smart_contract
      - name: balance
        in: query
        description: Filters accounts by balance
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: staked
        in: query
        description: Filters accounts by participation in staking
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: firstActivity
        in: query
        description: Filters accounts by first activity level (where the account was created)
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/accounts/{address}:
    get:
      tags:
      - Accounts
      summary: Get account by address
      description: Returns an account with the specified address.
      operationId: Accounts_GetByAddress
      parameters:
      - name: address
        in: path
        required: true
        description: Account address
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /v1/accounts/{address}/contracts:
    get:
      tags:
      - Accounts
      summary: Get account contracts
      description: Returns a list of contracts created by (or related to) the specified account.
      operationId: Accounts_GetContracts
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: sort
        in: query
        description: 'Sorts contracts by specified field. Supported fields: `id` (default, desc), `balance`, `creationLevel`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelatedContract'
  /v1/accounts/{address}/delegators:
    get:
      tags:
      - Accounts
      summary: Get account delegators
      description: Returns a list of accounts delegated to the specified account.
      operationId: Accounts_GetDelegators
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz)
        schema:
          type: string
        x-position: 1
      - name: type
        in: query
        description: Filters delegators by type (`user`, `delegate`, `contract`, `rollup`, `smart_rollup`, `ghost`).
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AccountTypeParameter'
        x-position: 2
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: user,contract,delegate
      - name: balance
        in: query
        description: Filters delegators by balance.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: delegationLevel
        in: query
        description: Number of items to skip
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts delegators by specified field. Supported fields: `delegationLevel` (default, desc), `balance`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Delegator'
  /v1/accounts/{address}/counter:
    get:
      tags:
      - Accounts
      summary: Get counter
      description: Returns account counter
      operationId: Accounts_GetCounter
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/accounts/{address}/balance:
    get:
      tags:
      - Accounts
      summary: Get balance
      description: Returns account balance
      operationId: Accounts_GetBalance
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history/{level}:
    get:
      tags:
      - Accounts
      summary: Get balance at level
      description: "Returns account balance* at the specified block.  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`."
      operationId: Accounts_GetBalanceAtLevel
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: level
        in: path
        required: true
        description: Block height at which you want to know account balance
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history/{datetime}:
    get:
      tags:
      - Accounts
      summary: Get balance at date
      description: "Returns account balance* at the specified datetime.  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`."
      operationId: Accounts_GetBalanceAtDate
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: datetime
        in: path
        required: true
        description: Datetime at which you want to know account balance (e.g. `2020-01-01`, or `2019-12-30T23:42:59Z`)
        schema:
          type: string
          format: date-time
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /v1/accounts/{address}/balance_history:
    get:
      tags:
      - Accounts
      summary: Get balance history
      description: "Returns time series with historical balances* (only changes, without duplicates).  \n\\* - for non-baker tz-accounts historical balances do not include staked tez,\nbecause stakers do not really have staked tez on their balance, they have staking pseudotokens instead.\nIf you want to get a full historical balance, including staked tez, use the Tezos node RPC:\n`/chains/main/blocks/{level}/context/contracts/{address}/full_balance`."
      operationId: Accounts_GetBalanceHistory
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: step
        in: query
        description: Step of the time series, for example if `step = 1000` you will get balances at blocks `1000, 2000, 3000, ...`.
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 2
      - name: select
        in: query
        description: Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: 'Sorts historical balances by specified field. Supported fields: `level`.'
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: Specifies which or how many items should be skipped
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 5
      - name: limit
        in: query
        description: Maximum number of items to return
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 10000.0
          minimum: 0.0
        x-position: 6
      - name: quote
        in: query
        description: Comma-separated list of ticker symbols to inject historical prices into response
        schema:
          default: None
          oneOf:
          - $ref: '#/components/schemas/Symbols'
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalBalance'
  /v1/accounts/{address}/report:
    get:
      tags:
      - Accounts
      summary: Get account report
      description: Exports account balance report in .csv format
      operationId: Accounts_GetBalanceReport
      parameters:
      - name: address
        in: path
        required: true
        description: Account address (starting with tz or KT)
        schema:
          type: string
        x-position: 1
      - name: from
        in: query
        description: Start of the datetime range to filter by (ISO 8601, e.g. 2019-11-31)
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      - name: to
        in: query
        description: End of the datetime range to filter by (ISO 8601, e.g. 2019-12-31)
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 3
      - name: currency
        in: query
        description: Currency to convert amounts to (`btc`, `eur`, `usd`, `cny`, `jpy`, `krw`, `eth`, `gbp`)
        schema:
          type: string
          nullable: true
        x-position: 4
      - name: historical
        in: query
        description: '`true` if you want to use historical prices, `false` to use current price'
        schema:
          type: boolean
          default: false
        x-position: 5
      - name: delimiter
        in: query
        description: Column delimiter (`comma`, `semicolon`)
        schema:
          type: string
          default: comma
        x-position: 6
      - name: separator
        in: query
        description: Decimal separator (`comma`, `point`)
        schema:
          type: string
          default: point
        x-position: 7
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    Account:
      type: object
      discriminator:
        propertyName: type
        mapping:
          user: '#/components/schemas/User'
          delegate: '#/components/schemas/Delegate'
          contract: '#/components/schemas/Contract'
          ghost: '#/components/schemas/Ghost'
          rollup: '#/components/schemas/Rollup'
          smart_rollup: '#/components/schemas/SmartRollup'
          empty: '#/components/schemas/EmptyAccount'
      x-abstract: true
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          description: 'Type of the account (`user` - simple wallet account, `delegate` - account, registered as a delegate (baker),

            `contract` - smart contract programmable account, `ghost` - non-existent contract, `empty` - account hasn''t appeared in the blockchain yet,

            `rollup` - transactional optimistic rollup, `smart_rollup` - smart contract optimistic rollup)'
        address:
          type: string
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type: string
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
          nullable: true
        desc:
          type: string
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
          nullable: true
      x-tzkt-extension: query-parameter
    Activity:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ticket_transfer: '#/components/schemas/TicketTransferActivity'
          token_transfer: '#/components/schemas/TokenTransferActivity'
          autostaking: '#/components/schemas/AutostakingOperation'
          baking: '#/components/schemas/BakingOperation'
          ballot: '#/components/schemas/BallotOperation'
          dal_attestation_reward: '#/components/schemas/DalAttestationRewardOperation'
          dal_entrapment_evidence: '#/components/schemas/DalEntrapmentEvidenceOperation'
          dal_publish_commitment: '#/components/schemas/DalPublishCommitmentOperation'
          delegation: '#/components/schemas/DelegationOperation'
          double_baking: '#/components/schemas/DoubleBakingOperation'
          double_consensus: '#/components/schemas/DoubleConsensusOperation'
          drain_delegate: '#/components/schemas/DrainDelegateOperation'
          attestation: '#/components/schemas/AttestationOperation'
          attestation_reward: '#/components/schemas/AttestationRewardOperation'
          increase_paid_storage: '#/components/schemas/IncreasePaidStorageOperation'
          migration: '#/components/schemas/MigrationOperation'
          nonce_revelation: '#/components/schemas/NonceRevelationOperation'
          origination: '#/components/schemas/OriginationOperation'
          preattestation: '#/components/schemas/PreattestationOperation'
          proposal: '#/components/schemas/ProposalOperation'
          register_constant: '#/components/schemas/RegisterConstantOperation'
          reveal: '#/components/schemas/RevealOperation'
          revelation_penalty: '#/components/schemas/RevelationPenaltyOperation'
          set_delegate_parameters: '#/components/schemas/SetDelegateParametersOperation'
          set_deposits_limit: '#/components/schemas/SetDepositsLimitOperation'
          sr_add_messages: '#/components/schemas/SmartRollupAddMessagesOperation'
          sr_cement: '#/components/schemas/SmartRollupCementOperation'
          sr_execute: '#/components/schemas/SmartRollupExecuteOperation'
          sr_originate: '#/components/schemas/SmartRollupOriginateOperation'
          sr_publish: '#/components/schemas/SmartRollupPublishOperation'
          sr_recover_bond: '#/components/schemas/SmartRollupRecoverBondOperation'
          sr_refute: '#/components/schemas/SmartRollupRefuteOperation'
          staking: '#/components/schemas/StakingOperation'
          transaction: '#/components/schemas/TransactionOperation'
          transfer_ticket: '#/components/schemas/TransferTicketOperation'
          tx_rollup_commit: '#/components/schemas/TxRollupCommitOperation'
          tx_rollup_dispatch_tickets: '#/components/schemas/TxRollupDispatchTicketsOperation'
          tx_rollup_finalize_commitment: '#/components/schemas/TxRollupFinalizeCommitmentOperation'
          tx_rollup_origination: '#/components/schemas/TxRollupOriginationOperation'
          tx_rollup_rejection: '#/components/schemas/TxRollupRejectionOperation'
          tx_rollup_remove_commitment: '#/components/schemas/TxRollupRemoveCommitmentOperation'
          tx_rollup_return_bond: '#/components/schemas/TxRollupReturnBondOperation'
          tx_rollup_submit_batch: '#/components/schemas/TxRollupSubmitBatchOperation'
          update_secondary_key: '#/components/schemas/UpdateSecondaryKeyOperation'
          vdf_revelation: '#/components/schemas/VdfRevelationOperation'
          activation: '#/components/schemas/ActivationOperation'
      x-abstract: true
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          description: Type of the activity element
        id:
          type: integer
          description: Internal ID of the activity element
          format: int64
    Delegator:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          description: Delegator type ('contract' for KT.. address or 'user' for tz.. address)
        alias:
          type: string
          description: Name of the project behind the account or account description
          nullable: true
        address:
          type: string
          description: Public key hash of the account
        balance:
          type: integer
          description: Account balance (micro tez)
          format: int64
        delegationLevel:
          type: integer
          description: Block height of last delegation operation
          format: int32
        delegationTime:
          type: string
          description: Block datetime of last delegation operation (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: integer
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
          nullable: true
        ne:
          type: integer
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
          nullable: true
        gt:
          type: integer
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
          nullable: true
        ge:
          type: integer
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
          nullable: true
        lt:
          type: integer
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
          nullable: true
        le:
          type: integer
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int64
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type: integer
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
          nullable: true
        pg:
          type: integer
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
          nullable: true
        cr:
          type: integer
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
          nullable: true
      x-tzkt-extension: query-parameter
    SortMode:
      type: string
      description: ''
      x-enumNames:
      - Ascending
      - Descending
      enum:
      - Ascending
      - Descending
    MichelineFormat:
      type: string
      description: ''
      x-enumNames:
      - Json
      - JsonString
      - Raw
      - RawString
      enum:
      - Json
      - JsonString
      - Raw
      - RawString
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        gt:
          type: string
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ge:
          type: string
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        lt:
          type: string
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        le:
          type: string
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    AddressParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=` is the same as `param=`). \

            Specify an account address to get items where the specified field is equal to the specified value.


            Example: `?address=tz123..`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify an account address to get items where the specified field is not equal to the specified value.


            Example: `?address.ne=tz123..`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is equal to one of the specified values.


            Example: `?address.in=tz123..,tz345..`.'
          nullable: true
          items:
            type: string
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is not equal to all the specified values.


            Example: `?address.ni=tz123..,tz345..`.'
          nullable: true
          items:
            type: string
      x-tzkt-extension: query-parameter
    HistoricalBalance:
      type: object
      additionalProperties: false
      properties:
        level:
          type: integer
          description: Height of the block at which the account balance was calculated
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block at which the account balance was calculated
          format: date-time
        balance:
          type: integer
          description: Historical balance
          format: int64
        quote:
          description: Injected historical quote at the time of balance snapshot
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/QuoteShort'
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          nullable: true
          items:
            type: string
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          nullable: true
          items:
            type: string
        eqx:
          type: string
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
          nullable: true
        nex:
          type: string
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
          nullable: true
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
          nullable: true
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    ContractKindParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a contract kind to get items where the specified field is equal to the specified value.


            Example: `?kind=smart_contract`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a contract kind to get items where the specified field is not equal to the specified value.


            Example: `?kind.ne=delegator_contract`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is equal to one of the specified values.


            Example: `?kind.in=smart_contract,asset`.'
          nullable: true
          items:
            type: string
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of contract kinds to get items where the specified field is not equal to all the specified values.


            Example: `?kind.ni=smart_contract,asset`.'
          nullable: true
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: delegator_contract,smart_contract
    BigIntegerNullableParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          nullable: true
        gt:
          type: string
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          nullable: true
        ge:
          type: string
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          nullable: true
        lt:
          type: string
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          nullable: true
        le:
          type: string
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          nullable: true
          items:
            type: string
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          nullable: true
          items:
            type: string
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
          nullable: true
      x-tzkt-extension: query-parameter
    DelegateInfo:
      type: object
      additionalProperties: false
      properties:
        alias:
          type: string
          description: Name of the baking service
          nullable: true
        address:
          type: string
          description: Public key hash of the delegate (baker)
        active:
          type: boolean
          description: Delegation status (`true` - active, `false` - deactivated)
    RelatedContract:
      type: object
      additionalProperties: false
      properties:
        kind:
          type: string
          description: 'Kind of the contract (`delegator_contract` or `smart_contract`),

            where `delegator_contract` - manager.tz smart contract for delegation purpose only'
        alias:
          type: string
          description: Name of the project behind the contract or contract description
          nullable: true
        address:
          type: string
          description: Public key hash of the contract
        balance:
          type: integer
          description: Contract balance (micro tez)
          format: int64
        delegate:
          description: Information about the current delegate of the contract. `null` if it's not delegated
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DelegateInfo'
        creationLevel:
          type: integer
          description: Height of the block where the contract was created
          format: int32
        creationTime:
          type: string
          description: Datetime of the block where the contract was created (ISO 8601, e.g. `2020-02-20T02:40:57Z`)
          format: date-time
          nullable: true
    QuoteShort:
      type: object
      additionalProperties: false
      properties:
        btc:
          type: number
          description: XTZ/BTC price
          format: double
          nullable: true
        eur:
          type: number
          description: XTZ/EUR price
          format: double
          nullable: true
        usd:
          type: number
          description: XTZ/USD price
          format: double
          nullable: true
        cny:
          type: number
          description: XTZ/CNY price
          format: double
          nullable: true
        jpy:
          type: number
          description: XTZ/JPY price
          format: double
          nullable: true
        krw:
          type: number
          description: XTZ/KRW price
          format: double
          nullable: true
        eth:
          type: number
          description: XTZ/ETH price
          format: double
          nullable: true
        gbp:
          type: number
          description: XTZ/GBP price
          format: double
          nullable: true
    BoolParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: boolean
          description: '**Equal** filter mode (optional, i.e. `param.eq=true` is the same as `param=true`). \

            Specify a bool flag to get items where the specified field is equal to the specified value.


            Example: `?active=true` or `?active=1` or `?active`.'
          nullable: true
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?active.null` or `?active.null=false`.'
          nullable: true
      x-tzkt-extension: query-parameter
    AccountTypeParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an account type to get items where the specified field is equal to the specified value.


            Example: `?type=delegate`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify an account type to get items where the specified field is not equal to the specified value.


            Example: `?type.ne=contract`.'
          nullable: true
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: user,contract,delegate
    Symbols:
      type: string
      description: ''
      x-enumFlags: true
      x-enumNames:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
      enum:
      - None
      - Btc
      - Eur
      - Usd
      - Cny
      - Jpy
      - Krw
      - Eth
      - Gbp
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: integer
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
          nullable: true
        ne:
          type: integer
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
          nullable: true
        gt:
          type: integer
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
          nullable: true
        ge:
          type: integer
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
          nullable: true
        lt:
          type: integer
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
          nullable: true
        le:
          type: integer
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int32
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
    SelectParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type: array
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example: `?select=address,balance` => `[ { "address": "asd", "balance": 10 } ]`.'
          nullable: true
          items:
            type: string
        values:
          type: array
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example: `?select.values=address,balance` => `[ [ "asd", 10 ] ]`.'
          nullable: true
          items:
            type: string
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
