openapi: 3.0.0
info:
  title: TzKT Accounts Domains API
  description: "# Introduction\r\n\r\nTzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer. \r\nYou can fetch all historical data via REST API, or subscribe for real-time data via WebSocket API. TzKT was built by the joint efforts of the entire Tezos community \r\nto help developers build more services and dapps on top of Tezos.\r\n\r\nTzKT Indexer and API are [open-source](https://github.com/baking-bad/tzkt), so don't be afraid to depend on the third-party service,\r\nbecause you can always clone, build and run it yourself to have full control over all the components.\r\n\r\nFeel free to contact us if you have any questions or feature requests.\r\nYour feedback is much appreciated!\r\n\r\n- Discord: https://discord.gg/aG8XKuwsQd\r\n- Telegram: https://t.me/baking_bad_chat\r\n- X: https://x.com/TezosBakingBad\r\n- Email: hello@bakingbad.dev\r\n\r\nAnd don't forget to star TzKT [on GitHub](https://github.com/baking-bad/tzkt) if you like it \U0001F60A\r\n\r\n# Get Started\r\n\r\nThere are two API services provided for public use:\r\n- **Free TzKT API** with free anonymous access;\r\n- **TzKT Pro** with paid subscriptions with increased rate limits, off-chain data, extended support and business-level SLA.\r\n\r\nYou can find more details about differences between available tiers [here](https://tzkt.io/api).\r\n\r\n## Free TzKT API\r\n\r\nFree-tier TzKT API is the best way to get started and explore available Tezos data and API functionality.\r\nIt doesn't require authorization and is free for everyone and for both commercial and non-commercial use.\r\n\r\n> #### Note: attribution required\r\nIf you use free-tier TzKT API, you **must** mention it on your website or application by placing the label\r\n\"Powered by TzKT API\", or \"Built with TzKT API\", or \"Data provided by TzKT API\" with a direct link to [tzkt.io](https://tzkt.io).\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://api.tzkt.io/` or `https://api.mainnet.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Ghostnet: `https://api.ghostnet.tzkt.io/` ([view docs](https://api.ghostnet.tzkt.io))\r\n- Shadownet: `https://api.shadownet.tzkt.io/` ([view docs](https://api.shadownet.tzkt.io))\r\n- Seoulnet: `https://api.seoulnet.tzkt.io/` ([view docs](https://api.seoulnet.tzkt.io))\r\n- Tallinnnet: `https://api.tallinnnet.tzkt.io/` ([view docs](https://api.tallinnnet.tzkt.io))\r\n\r\n### Sending Requests\r\n\r\nTo send a request to Free TzKT API you need literally nothing. Just take the base URL of the particular network\r\n(for example, Tezos mainnet: `https://api.tzkt.io`) and append the path of the particular endpoint\r\n(for example, chain's head: `/v1/head`), that's pretty much it: \r\n\r\n```bash\r\ncurl https://api.tzkt.io/v1/head\r\n```\r\n\r\nRead through this documentation to explore available endpoints, query parameters\r\n(note, if you click on a query parameter, you will see available modes, such as `.eq`, `.in`, etc.)\r\nand response models. If you have any questions, do not hesitate to ask for support, Tezos community has always been very friendly! \U0001F609\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits.\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n\r\n## TzKT Pro\r\n\r\nTzKT Pro is intended for professional use, for those who seek for extended capabilities, performance, reliability and business-level SLA.\r\nTzKT Pro service is provided via paid subscriptions. Please, refer to [Pricing Plans](https://tzkt.io/api) to check available tiers.\r\n\r\nIt's available for the following Tezos networks with the following base URLs:\r\n\r\n- Mainnet: `https://pro.tzkt.io/` ([view docs](https://api.tzkt.io))\r\n- Testnets: *let us know if you need TzKT Pro for testnets*\r\n\r\n### Authorization\r\n\r\nTo access TzKT Pro you will need to authorize requests with your personal API key, that you will receive on your email after purchasing a subscription.\r\nThis can be done by adding the query string parameter `?apikey={your_key}` or by adding the HTTP header `apikey: {your_key}`.\r\n\r\nNote that you can have multiple API keys within a single subscription.\r\n\r\nKeep your API keys private, do not publish it anywhere and do not hardcode it, especially in public repositories.\r\nIf your key was compromised, just let us know and we will issue a new one.\r\n\r\nAlso note that passing the API key via HTTP headers is more secure, because in HTTPS headers are encrypted,\r\nbut query string is not, so the key can be unintentionally exposed to third parties.\r\n\r\n### Sending Requests\r\n\r\nSending a request with the API key passed as a query string parameter:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head?apikey={your_key}\r\n```\r\n\r\nSending a request with the API key passed via an HTTP header:\r\n\r\n```bash\r\ncurl https://pro.tzkt.io/v1/head \\\r\n    -H 'apikey: {your_key}'\r\n```\r\n\r\n### Rate Limits\r\n\r\nPlease, refer to https://tzkt.io/api to check relevant rate limits for different pricing plans.\r\n\r\nAlso, TzKT Pro provides you with the additional HTTP headers to show the allowed limits, number of available requests\r\nand the time remaining (in seconds) until the quota is reset. Here's an example:\r\n\r\n```\r\nRateLimit-Limit: 50\r\nRateLimit-Remaining: 49\r\nRateLimit-Reset: 1\r\n```\r\n\r\nIt also sends general information about your rate limits per second and per day:\r\n\r\n```\r\nX-RateLimit-Limit-Second: 50\r\nX-RateLimit-Remaining-Second: 49\r\nX-RateLimit-Limit-Day: 3000000\r\nX-RateLimit-Remaining-Day: 2994953\r\n```\r\n\r\nIf you exceed the limit, the API will respond with `HTTP 429` status code.\r\n"
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Domains
paths:
  /v1/domains/count:
    get:
      tags:
      - Domains
      summary: Get domains count
      description: Returns the total number of domains.
      operationId: Domains_GetCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by the domain level.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: name
        in: query
        description: "Filter by the domain name.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: owner
        in: query
        description: "Filter by the domain owner.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AddressNullParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: address
        in: query
        description: "Filter by the address the domain points to.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AddressNullParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: reverse
        in: query
        description: "Filter by the 'reverse' flag.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: expiration
        in: query
        description: "Filter by the domain expiration.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DateTimeParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: data
        in: query
        description: "Filter by the domain data.  \nNote, this parameter supports the following format: `data{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?data.foo=bar`).  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 8
        x-tzkt-extension: json-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the domain was first seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the domain was first seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the domain was last seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the domain was last seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/domains:
    get:
      tags:
      - Domains
      summary: Get domains
      description: Returns a list of domains.
      operationId: Domains_Get
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by the domain level.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: name
        in: query
        description: "Filter by the domain name.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: owner
        in: query
        description: "Filter by the domain owner.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AddressNullParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: address
        in: query
        description: "Filter by the address the domain points to.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/AddressNullParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: reverse
        in: query
        description: "Filter by the 'reverse' flag.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/BoolParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: expiration
        in: query
        description: "Filter by the domain expiration.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DateTimeParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: data
        in: query
        description: "Filter by the domain data.  \nNote, this parameter supports the following format: `data{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?data.foo=bar`).  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 8
        x-tzkt-extension: json-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the domain was first seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the domain was first seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the domain was last seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the domain was last seen.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 15
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
  /v1/domains/{name}:
    get:
      tags:
      - Domains
      summary: Get domain by name
      description: Returns the domain with the specified name.
      operationId: Domains_GetByName
      parameters:
      - name: name
        in: path
        required: true
        description: Domain name
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
components:
  schemas:
    SelectionParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type: array
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example:

            `?select=address,balance as b,metadata.name as meta_name` will result in

            `[ { "address": "asd", "b": 10, "meta_name": "qwe" } ]`.'
          nullable: true
          items:
            type: string
        values:
          type: array
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example:

            `?select.values=address,balance,metadata.name`  will result in

            `[ [ "asd", 10, "qwe" ] ]`.'
          nullable: true
          items:
            type: string
      x-tzkt-extension: query-parameter
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        gt:
          type: string
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ge:
          type: string
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        lt:
          type: string
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        le:
          type: string
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type: string
          description: Account alias name (off-chain data).
          nullable: true
        address:
          type: string
          description: Account address (public key hash).
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type: string
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
          nullable: true
        desc:
          type: string
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
          nullable: true
      x-tzkt-extension: query-parameter
    AddressNullParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=` is the same as `param=`). \

            Specify an account address to get items where the specified field is equal to the specified value.


            Example: `?address=tz123..`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify an account address to get items where the specified field is not equal to the specified value.


            Example: `?address.ne=tz123..`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is equal to one of the specified values.


            Example: `?address.in=tz123..,tz345..`.'
          nullable: true
          items:
            type: string
            nullable: true
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of account addresses to get items where the specified field is not equal to all the specified values.


            Example: `?address.ni=tz123..,tz345..`.'
          nullable: true
          items:
            type: string
            nullable: true
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?address.null` or `?address.null=false`.'
          nullable: true
      x-tzkt-extension: query-parameter
    BoolParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: boolean
          description: '**Equal** filter mode (optional, i.e. `param.eq=true` is the same as `param=true`). \

            Specify a bool flag to get items where the specified field is equal to the specified value.


            Example: `?active=true` or `?active=1` or `?active`.'
          nullable: true
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?active.null` or `?active.null=false`.'
          nullable: true
      x-tzkt-extension: query-parameter
    Domain:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int32
        level:
          type: integer
          description: Domain level (i.e. tez has level=1, domain.tez has level=2, subdomain.domain.tez has level=3, etc.).
          format: int32
        name:
          type: string
          description: "Domain record name.  \n**[sortable]**"
        owner:
          description: Owner of the domain.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        address:
          description: Address the domain points to.
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/Alias'
        reverse:
          type: boolean
          description: Whether or not the domain is on the reverse records list
        expiration:
          type: string
          description: Expiration datetime
          format: date-time
        data:
          description: Arbitrary data bound to the domain.
          nullable: true
        firstLevel:
          type: integer
          description: "Level of the block where the domain was first seen.  \n**[sortable]**"
          format: int32
        firstTime:
          type: string
          description: Timestamp of the block where the domain was first seen.
          format: date-time
        lastLevel:
          type: integer
          description: "Level of the block where the domain was last seen.  \n**[sortable]**"
          format: int32
        lastTime:
          type: string
          description: Timestamp of the block where the domain was last seen.
          format: date-time
    StringParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a string to get items where the specified field is equal to the specified value.


            Example: `?parameters=abc`.'
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a string to get items where the specified field is not equal to the specified value.


            Example: `?parameters.ne=abc`.'
          nullable: true
        as:
          type: string
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.as=*mid*` or `?parameters.as=*end`.'
          nullable: true
        un:
          type: string
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.un=*mid*` or `?parameters.un=*end`.'
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is equal to one of the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.in=bla,bal,abl`.'
          nullable: true
          items:
            type: string
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.ni=bla,bal,abl`.'
          nullable: true
          items:
            type: string
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameters.null` or `?parameters.null=false`.'
          nullable: true
      x-tzkt-extension: query-parameter
    JsonParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a JSON value to get items where the specified field is equal to the specified value.


            Example: `?parameter.from=tz1...` or `?parameter.signatures.[3].[0]=null` or `?parameter.sigs.[*]=null`.'
          nullable: true
          x-tzkt-extension: json-parameter
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a JSON value to get items where the specified field is not equal to the specified value.


            Example: `?parameter.ne=true` or `?parameter.amount.ne=0`.'
          nullable: true
          x-tzkt-extension: json-parameter
        gt:
          type: string
          description: '**Greater than** filter mode. \

            Specify a string to get items where the specified field is greater than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.gt=1234` or `?parameter.time.gt=2021-02-01`.'
          nullable: true
          x-tzkt-extension: json-parameter
        ge:
          type: string
          description: '**Greater or equal** filter mode. \

            Specify a string to get items where the specified field is greater than equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.ge=1234` or `?parameter.time.ge=2021-02-01`.'
          nullable: true
          x-tzkt-extension: json-parameter
        lt:
          type: string
          description: '**Less than** filter mode. \

            Specify a string to get items where the specified field is less than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.lt=1234` or `?parameter.time.lt=2021-02-01`.'
          nullable: true
          x-tzkt-extension: json-parameter
        le:
          type: string
          description: '**Less or equal** filter mode. \

            Specify a string to get items where the specified field is less than or equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.le=1234` or `?parameter.time.le=2021-02-01`.'
          nullable: true
          x-tzkt-extension: json-parameter
        as:
          type: string
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.as=*mid*` or `?parameter.as=*end`.'
          nullable: true
          x-tzkt-extension: json-parameter
        un:
          type: string
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.un=*mid*` or `?parameter.un=*end`.'
          nullable: true
          x-tzkt-extension: json-parameter
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings or JSON array to get items where the specified field is equal to one of the specified values. \


            Example: `?parameter.amount.in=1,2,3` or `?parameter.in=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          nullable: true
          items:
            type: string
          x-tzkt-extension: json-parameter
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?parameter.amount.ni=1,2,3` or `?parameter.ni=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          nullable: true
          items:
            type: string
          x-tzkt-extension: json-parameter
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameter.null` or `?parameter.null=false` or `?parameter.sigs.[0].null=false`.'
          x-tzkt-extension: json-parameter
      x-tzkt-extension: json-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type: integer
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
          nullable: true
        pg:
          type: integer
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
          nullable: true
        cr:
          type: integer
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
          nullable: true
      x-tzkt-extension: query-parameter
    DateTimeParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          description: '**Equal** filter mode (optional, i.e. `param.eq=2020-01-01` is the same as `param=2020-01-01`). \

            Specify a datetime to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ne:
          type: string
          description: '**Not equal** filter mode. \

            Specify a datetime to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        gt:
          type: string
          description: '**Greater than** filter mode. \

            Specify a datetime to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        ge:
          type: string
          description: '**Greater or equal** filter mode. \

            Specify a datetime to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        lt:
          type: string
          description: '**Less than** filter mode. \

            Specify a datetime to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        le:
          type: string
          description: '**Less or equal** filter mode. \

            Specify a datetime to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          nullable: true
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: integer
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
          nullable: true
        ne:
          type: integer
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
          nullable: true
        gt:
          type: integer
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
          nullable: true
        ge:
          type: integer
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
          nullable: true
        lt:
          type: integer
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
          nullable: true
        le:
          type: integer
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
          nullable: true
        in:
          type: array
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int32
        ni:
          type: array
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          nullable: true
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
