openapi: 3.2.0
info:
  title: TzKT Events API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Events
paths:
  /v1/contracts/events/count:
    get:
      tags:
      - Events
      summary: Get contract events count
      description: Returns a total number of contract events.
      operationId: Events_GetContractEventsCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block where the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: contract
        in: query
        description: "Filter by contract address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: codeHash
        in: query
        description: "Filter by hash of the code of the contract emitted the event.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: tag
        in: query
        description: "Filter by event tag.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: payload
        in: query
        description: "Filter by payload.  \nNote, this parameter supports the following format: `payload{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?payload.foo.bar.in=1,2,3`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 7
        x-tzkt-extension: json-parameter
      - name: transactionId
        in: query
        description: "Filter by id of the transaction, in which the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/contracts/events:
    get:
      tags:
      - Events
      summary: Get contract events
      description: Returns a list of contract events.
      operationId: Events_GetContractEvents
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block where the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: contract
        in: query
        description: "Filter by contract address.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: codeHash
        in: query
        description: "Filter by hash of the code of the contract emitted the event.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: tag
        in: query
        description: "Filter by event tag.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/StringParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: payload
        in: query
        description: "Filter by payload.  \nNote, this parameter supports the following format: `payload{.path?}{.mode?}=...`,\nso you can specify a path to a particular field to filter by (for example, `?payload.foo.bar.in=1,2,3`).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/JsonParameter'
        x-position: 7
        x-tzkt-extension: json-parameter
      - name: transactionId
        in: query
        description: "Filter by id of the transaction, in which the event was emitted.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 11
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractEvent'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    StringParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a string to get items where the specified field is equal to the specified value.


            Example: `?parameters=abc`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a string to get items where the specified field is not equal to the specified value.


            Example: `?parameters.ne=abc`.'
        as:
          type:
          - string
          - 'null'
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.as=*mid*` or `?parameters.as=*end`.'
        un:
          type:
          - string
          - 'null'
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameters.un=*mid*` or `?parameters.un=*end`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is equal to one of the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.in=bla,bal,abl`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?errors.ni=bla,bal,abl`.'
          items:
            type: string
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameters.null` or `?parameters.null=false`.'
      x-tzkt-extension: query-parameter
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
    ContractEvent:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT id.  \n**[sortable]**"
          format: int32
        level:
          type: integer
          description: "Level of the block, at which the event was emitted.  \n**[sortable]**"
          format: int32
        timestamp:
          type: string
          description: Timestamp of the block, at which the event was emitted.
          format: date-time
        contract:
          description: "Contract emitted the event.  \nClick on the field to expand more details."
          oneOf:
          - $ref: '#/components/schemas/Alias'
        codeHash:
          type: integer
          description: Hash of the contract code.
          format: int32
        tag:
          type:
          - string
          - 'null'
          description: Event tag.
        payload:
          description: "Event payload in human-readable JSON format.  \n**[sortable]**"
        transactionId:
          type: integer
          description: Internal TzKT id of the transaction operation, caused the event.
          format: int64
        type:
          description: "Michelson type of the payload.  \n**Must be explicitly selected**"
        rawPayload:
          description: "Payload in raw Micheline format.  \n**Must be explicitly selected**"
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        eqx:
          type:
          - string
          - 'null'
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
        nex:
          type:
          - string
          - 'null'
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    SelectionParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example:

            `?select=address,balance as b,metadata.name as meta_name` will result in

            `[ { "address": "asd", "b": 10, "meta_name": "qwe" } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example:

            `?select.values=address,balance,metadata.name`  will result in

            `[ [ "asd", 10, "qwe" ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    JsonParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a JSON value to get items where the specified field is equal to the specified value.


            Example: `?parameter.from=tz1...` or `?parameter.signatures.[3].[0]=null` or `?parameter.sigs.[*]=null`.'
          x-tzkt-extension: json-parameter
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a JSON value to get items where the specified field is not equal to the specified value.


            Example: `?parameter.ne=true` or `?parameter.amount.ne=0`.'
          x-tzkt-extension: json-parameter
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a string to get items where the specified field is greater than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.gt=1234` or `?parameter.time.gt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a string to get items where the specified field is greater than equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.ge=1234` or `?parameter.time.ge=2021-02-01`.'
          x-tzkt-extension: json-parameter
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a string to get items where the specified field is less than the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.lt=1234` or `?parameter.time.lt=2021-02-01`.'
          x-tzkt-extension: json-parameter
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a string to get items where the specified field is less than or equal to the specified value.

            Note that all stored JSON values are strings, so this will be a comparison of two strings, so we recommend comparing values of the same type,

            e.g. numeric strings with numeric strings (`parameter.number.gt=123`), datetime strings with datetime strings (`parameter.date.gt=2021-01-01`), etc.

            Otherwise, result may surprise you.


            Example: `?parameter.balance.le=1234` or `?parameter.time.le=2021-02-01`.'
          x-tzkt-extension: json-parameter
        as:
          type:
          - string
          - 'null'
          description: '**Same as** filter mode. \

            Specify a string template to get items where the specified field matches the specified template. \

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.as=*mid*` or `?parameter.as=*end`.'
          x-tzkt-extension: json-parameter
        un:
          type:
          - string
          - 'null'
          description: '**Unlike** filter mode. \

            Specify a string template to get items where the specified field doesn''t match the specified template.

            This mode supports wildcard `*`. Use `\*` as an escape symbol.


            Example: `?parameter.un=*mid*` or `?parameter.un=*end`.'
          x-tzkt-extension: json-parameter
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of strings or JSON array to get items where the specified field is equal to one of the specified values. \


            Example: `?parameter.amount.in=1,2,3` or `?parameter.in=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of strings to get items where the specified field is not equal to all the specified values. \

            Use `\,` as an escape symbol.


            Example: `?parameter.amount.ni=1,2,3` or `?parameter.ni=[{"from":"tz1","to":"tz2"},{"from":"tz2","to":"tz1"}]`.'
          items:
            type: string
          x-tzkt-extension: json-parameter
        'null':
          type: boolean
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?parameter.null` or `?parameter.null=false` or `?parameter.sigs.[0].null=false`.'
          x-tzkt-extension: json-parameter
      x-tzkt-extension: json-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
