openapi: 3.2.0
info:
  title: TzKT Staking API
  description: '# Introduction


    TzKT is the most widely used tool in Tezos that provides you with convenient and flexible access to the Tezos blockchain data, processed and indexed by its own indexer.'
  contact:
    name: Baking Bad Team
    url: https://bakingbad.dev
    email: hello@bakingbad.dev
  version: 1.17.1
  x-logo:
    url: https://tzkt.io/logo.png
    href: https://tzkt.io/
servers:
- url: https://api.tzkt.io
tags:
- name: Staking
paths:
  /v1/staking/updates/count:
    get:
      tags:
      - Staking
      summary: Get staking updates count
      description: Returns a total number of staking updates.
      operationId: Staking_GetStakingUpdatesCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block, where the staking update happened.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp of the block, where the staking update happened.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: cycle
        in: query
        description: "Filter by freezer or block cycle (depending on the update type).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: baker
        in: query
        description: "Filter by related baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: staker
        in: query
        description: "Filter by related staker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: type
        in: query
        description: "Filter by staking update type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/StakingUpdateTypeParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: stake,unstake,restake,finalize,slash_staked,slash_unstaked
      - name: amount
        in: query
        description: "Filter by amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: pseudotokens
        in: query
        description: "Filter by amount of staking pseudotokens minted or burnt.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigIntegerNullableParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: roundingError
        in: query
        description: "Filter by protocol rounding error.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: autostakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: stakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: delegationOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: doubleBakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: doubleConsensusOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/staking/updates:
    get:
      tags:
      - Staking
      summary: Get staking updates
      description: Returns a list of staking updates.
      operationId: Staking_GetStakingUpdates
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: level
        in: query
        description: "Filter by level of the block, where the staking update happened.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: timestamp
        in: query
        description: "Filter by timestamp of the block, where the staking update happened.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: cycle
        in: query
        description: "Filter by freezer or block cycle (depending on the update type).  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: baker
        in: query
        description: "Filter by related baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: staker
        in: query
        description: "Filter by related staker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: type
        in: query
        description: "Filter by staking update type.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/StakingUpdateTypeParameter'
        x-position: 7
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: stake,unstake,restake,finalize,slash_staked,slash_unstaked
      - name: amount
        in: query
        description: "Filter by amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: pseudotokens
        in: query
        description: "Filter by amount of staking pseudotokens minted or burnt.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/BigIntegerNullableParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: roundingError
        in: query
        description: "Filter by protocol rounding error.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: autostakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
      - name: stakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: delegationOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: doubleBakingOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: doubleConsensusOpId
        in: query
        description: "Filter by the ID of the related operation.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 17
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 18
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 19
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StakingUpdate'
  /v1/staking/unstake_requests/count:
    get:
      tags:
      - Staking
      summary: Get unstake requests count
      description: Returns a total number of unstake requests.
      operationId: Staking_GetUnstakeRequestsCount
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: cycle
        in: query
        description: "Filter by cycle.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: baker
        in: query
        description: "Filter by related baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: staker
        in: query
        description: "Filter by related staker.\nIf staker is null, then it's aggregated unstaked deposits for the baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: requestedAmount
        in: query
        description: "Filter by requested amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: restakedAmount
        in: query
        description: "Filter by restaked amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: finalizedAmount
        in: query
        description: "Filter by finalized amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: slashedAmount
        in: query
        description: "Filter by slashed amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: roundingError
        in: query
        description: "Filter by protocol rounding error.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: actualAmount
        in: query
        description: "Filter by actual amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: status
        in: query
        description: "Filter by status.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/UnstakeRequestStatusParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: pending,finalizable,finalized
      - name: updatesCount
        in: query
        description: "Filter by staking updates count.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the unstake request was created.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the unstake request was created.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the unstake request was last updated.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the unstake request was last updated.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v1/staking/unstake_requests:
    get:
      tags:
      - Staking
      summary: Get unstake requests
      description: Returns a list of unstake requests.
      operationId: Staking_GetUnstakeRequests
      parameters:
      - name: id
        in: query
        description: "Filter by internal TzKT id.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 1
        x-tzkt-extension: query-parameter
      - name: cycle
        in: query
        description: "Filter by cycle.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 2
        x-tzkt-extension: query-parameter
      - name: baker
        in: query
        description: "Filter by related baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 3
        x-tzkt-extension: query-parameter
      - name: staker
        in: query
        description: "Filter by related staker.\nIf staker is null, then it's aggregated unstaked deposits for the baker.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/AccountParameter'
        x-position: 4
        x-tzkt-extension: query-parameter
      - name: requestedAmount
        in: query
        description: "Filter by requested amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 5
        x-tzkt-extension: query-parameter
      - name: restakedAmount
        in: query
        description: "Filter by restaked amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 6
        x-tzkt-extension: query-parameter
      - name: finalizedAmount
        in: query
        description: "Filter by finalized amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 7
        x-tzkt-extension: query-parameter
      - name: slashedAmount
        in: query
        description: "Filter by slashed amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 8
        x-tzkt-extension: query-parameter
      - name: roundingError
        in: query
        description: "Filter by protocol rounding error.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64NullParameter'
        x-position: 9
        x-tzkt-extension: query-parameter
      - name: actualAmount
        in: query
        description: "Filter by actual amount.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int64Parameter'
        x-position: 10
        x-tzkt-extension: query-parameter
      - name: status
        in: query
        description: "Filter by status.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/UnstakeRequestStatusParameter'
        x-position: 11
        x-tzkt-extension: query-parameter
        x-tzkt-query-parameter: pending,finalizable,finalized
      - name: updatesCount
        in: query
        description: "Filter by staking updates count.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 12
        x-tzkt-extension: query-parameter
      - name: firstLevel
        in: query
        description: "Filter by level of the block where the unstake request was created.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 13
        x-tzkt-extension: query-parameter
      - name: firstTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the unstake request was created.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 14
        x-tzkt-extension: query-parameter
      - name: lastLevel
        in: query
        description: "Filter by level of the block where the unstake request was last updated.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/Int32Parameter'
        x-position: 15
        x-tzkt-extension: query-parameter
      - name: lastTime
        in: query
        description: "Filter by timestamp (ISO 8601) of the block where the unstake request was last updated.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/TimestampParameter'
        x-position: 16
        x-tzkt-extension: query-parameter
      - name: sort
        in: query
        description: "Sorts items (asc or desc) by the specified field.\nYou can see what fields can be used for sorting in the response description, below.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SortParameter'
        x-position: 17
        x-tzkt-extension: query-parameter
      - name: offset
        in: query
        description: "Specifies which or how many items should be skipped.  \nClick on the parameter to expand more details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/OffsetParameter'
        x-position: 18
        x-tzkt-extension: query-parameter
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          maximum: 10000.0
          minimum: 0.0
        x-position: 19
      - name: select
        in: query
        description: "Specify a comma-separated list of fields to include into response or leave it undefined to get default set of fields.\nThis parameter accepts values of the following format: `{field}{path?}{as alias?}`, so you can do deep selection\n(for example, `?select=balance,token.metadata.symbol as token,...`).  \nNote, if you select just one field, the response will be flatten into a simple array of values.  \nClick on the parameter to expand the details."
        schema:
          oneOf:
          - $ref: '#/components/schemas/SelectionParameter'
        x-position: 20
        x-tzkt-extension: query-parameter
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnstakeRequest'
components:
  schemas:
    SortParameter:
      type: object
      additionalProperties: false
      properties:
        asc:
          type:
          - string
          - 'null'
          description: '**Ascending** sort mode (optional, i.e. `sort.asc=id` is the same as `sort=id`). \

            Specify a field name to sort by.


            Example: `?sort=balance`.'
        desc:
          type:
          - string
          - 'null'
          description: '**Descending** sort mode. \

            Specify a field name to sort by descending.


            Example: `?sort.desc=id`.'
      x-tzkt-extension: query-parameter
    Int64Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        empty:
          type: boolean
      x-tzkt-extension: query-parameter
    UnstakeRequestStatusParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (`.eq` suffix can be omitted, i.e. `?param=...` is the same as `?param.eq=...`). \

            Specify an unstake request status to get items where the specified field is equal to the specified value.


            Example: `?status=pending`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an unstake request status to get items where the specified field is not equal to the specified value.


            Example: `?status.ne=finalized`.'
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: pending,finalizable,finalized
    OffsetParameter:
      type: object
      additionalProperties: false
      properties:
        el:
          type:
          - integer
          - 'null'
          description: '**Elements** offset mode (optional, i.e. `offset.el=123` is the same as `offset=123`). \

            Skips specified number of elements.


            Example: `?offset=100`.'
          format: int32
        pg:
          type:
          - integer
          - 'null'
          description: '**Page** offset mode. \

            Skips `page * limit` elements. This is a classic pagination.


            Example: `?offset.pg=1`.'
          format: int32
        cr:
          type:
          - integer
          - 'null'
          description: '**Cursor** offset mode. \

            Skips all elements with the `cursor` before (including) the specified value. Cursor is a field used for sorting, e.g. `id`.

            Avoid using this offset mode with non-unique or non-sequential cursors such as `amount`, `balance`, etc.


            Example: `?offset.cr=45837`.'
          format: int64
      x-tzkt-extension: query-parameter
    BigIntegerNullableParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: string
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
      x-tzkt-extension: query-parameter
    UnstakeRequest:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT ID.  \n**[sortable]**"
          format: int32
        cycle:
          type: integer
          description: "Cycle at which the unstake request was created.  \n**[sortable]**"
          format: int32
        baker:
          description: Related baker.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        staker:
          description: Related staker.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        requestedAmount:
          type: integer
          description: Initially requested amount (mutez).
          format: int64
        restakedAmount:
          type: integer
          description: Amount that was restaked back (mutez).
          format: int64
        finalizedAmount:
          type: integer
          description: Finalized amount (mutez).
          format: int64
        slashedAmount:
          type: integer
          description: Slashed amount (mutez).
          format: int64
        roundingError:
          type:
          - integer
          - 'null'
          description: Protocol rounding error, appearing after slashing.
          format: int64
        actualAmount:
          type: integer
          description: 'Actual amount that was/is/will be available for finalizing. '
          format: int64
        status:
          type: string
          description: Status of the unstake request (`pending`, `finalizable`, `finalized`).
        unlockCycle:
          type: integer
          description: Cycle at which the unstake request will become finalizable
          format: int32
        unlockLevel:
          type: integer
          description: Level of the block at which the unstake request will become finalizable
          format: int32
        unlockTime:
          type: string
          description: Timestamp of the block at which the unstake request will become finalizable
          format: date-time
        updatesCount:
          type: integer
          description: Number of staking updates related to the unstake request.
          format: int32
        firstLevel:
          type: integer
          description: "Level of the block where the unstake request was created.  \n**[sortable]**"
          format: int32
        firstTime:
          type: string
          description: Timestamp of the block where the unstake request was created.
          format: date-time
        lastLevel:
          type: integer
          description: "Level of the block where the unstake request was last updated.  \n**[sortable]**"
          format: int32
        lastTime:
          type: string
          description: Timestamp of the block where the unstake request was last updated.
          format: date-time
    Int64NullParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int64
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int64
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int64
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int64
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int64
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int64
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int64
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int64
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?nonce.null` or `?nonce.null=false`.'
      x-tzkt-extension: query-parameter
    StakingUpdate:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: "Internal TzKT ID.  \n**[sortable]**"
          format: int32
        level:
          type: integer
          description: "Level of the block where the staking update happened.  \n**[sortable]**"
          format: int32
        timestamp:
          type: string
          description: 'Timestamp of the block where the staking update happened.  '
          format: date-time
        cycle:
          type: integer
          description: For `unstake`, `restake`, `finalize` and `slash_unstaked` update types it's freezer cycle, otherwise it's cycle of the block.
          format: int32
        baker:
          description: Related baker.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        staker:
          description: Related staker.
          oneOf:
          - $ref: '#/components/schemas/Alias'
        type:
          type: string
          description: Staking update type (`stake`, `unstake`, `restake`, `finalize`, `slash_staked`, `slash_unstaked`).
        amount:
          type: integer
          description: Amount (mutez).
          format: int64
        pseudotokens:
          type:
          - string
          - 'null'
          description: Amount of staking pseudotokens minted or burnt.
        roundingError:
          type:
          - integer
          - 'null'
          description: Protocol rounding error, appearing after slashing.
          format: int64
        autostakingOpId:
          type:
          - integer
          - 'null'
          description: 'Id of the operation, caused the staking update.

            If all `..OpId` fields are null, then the staking update was produced by the protocol migration.'
          format: int64
        stakingOpId:
          type:
          - integer
          - 'null'
          description: 'Id of the operation, caused the staking update.

            If all `..OpId` fields are null, then the staking update was produced by the protocol migration.'
          format: int64
        delegationOpId:
          type:
          - integer
          - 'null'
          description: 'Id of the operation, caused the staking update.

            If all `..OpId` fields are null, then the staking update was produced by the protocol migration.'
          format: int64
        doubleBakingOpId:
          type:
          - integer
          - 'null'
          description: 'Id of the operation, caused the staking update.

            If all `..OpId` fields are null, then the staking update was produced by the protocol migration.'
          format: int64
        doubleConsensusOpId:
          type:
          - integer
          - 'null'
          description: 'Id of the operation, caused the staking update.

            If all `..OpId` fields are null, then the staking update was produced by the protocol migration.'
          format: int64
        doubleEndorsingOpId:
          type:
          - integer
          - 'null'
          description: '**DEPRECATED**'
          format: int64
        doublePreendorsingOpId:
          type:
          - integer
          - 'null'
          description: '**DEPRECATED**'
          format: int64
    SelectionParameter:
      type: object
      additionalProperties: false
      properties:
        fields:
          type:
          - array
          - 'null'
          description: '**Fields** selection mode (optional, i.e. `select.fields=balance` is the same as `select=balance`). \

            Specify a comma-separated list of fields to include into response.


            Example:

            `?select=address,balance as b,metadata.name as meta_name` will result in

            `[ { "address": "asd", "b": 10, "meta_name": "qwe" } ]`.'
          items:
            type: string
        values:
          type:
          - array
          - 'null'
          description: '**Values** selection mode. \

            Specify a comma-separated list of fields to include their values into response.


            Example:

            `?select.values=address,balance,metadata.name`  will result in

            `[ [ "asd", 10, "qwe" ] ]`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
    StakingUpdateTypeParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a staking update type to get items where the specified field is equal to the specified value.


            Example: `?kind=stake`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a staking update type to get items where the specified field is not equal to the specified value.


            Example: `?kind.ne=finalize`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of staking update types to get items where the specified field is equal to one of the specified values.


            Example: `?kind.in=stake,unstake`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of staking update types to get items where the specified field is not equal to all the specified values.


            Example: `?kind.ni=finalize,restake`.'
          items:
            type: string
      x-tzkt-extension: query-parameter
      x-tzkt-query-parameter: stake,unstake,restake,finalize,slash_staked,slash_unstaked
    AccountParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a `tz` or `KT` address to get items where the specified field is equal to the specified value.


            Example: `?sender=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a `tz` or `KT` address to get items where the specified field is not equal to the specified value.


            Example: `?sender.ne=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8`.'
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is equal to one of the specified values.


            Example: `?sender.in=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of addresses to get items where the specified field is not equal to all the specified values.


            Example: `?sender.ni=tz1WnfXMPaNTBWnfXMPaNTBWnfXMPaNTBNTB,tz1SiPXX4MYGNJNDSiPXX4MYGNJNDSiPXX4M`.'
          items:
            type: string
        eqx:
          type:
          - string
          - 'null'
          description: '**Equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are equal.


            Example: `?sender.eqx=target`.'
        nex:
          type:
          - string
          - 'null'
          description: '**Not equal to another field** filter mode. \

            Specify a field name to get items where the specified fields are not equal.


            Example: `?sender.nex=initiator`.'
        'null':
          type:
          - boolean
          - 'null'
          description: '**Is null** filter mode. \

            Use this mode to get items where the specified field is null or not.


            Example: `?initiator.null` or `?initiator.null=false`.'
        inHasNull:
          type: boolean
        niHasNull:
          type: boolean
      x-tzkt-extension: query-parameter
    Alias:
      type: object
      additionalProperties: false
      properties:
        alias:
          type:
          - string
          - 'null'
          description: Account alias name (off-chain data).
        address:
          type: string
          description: Account address (public key hash).
    TimestampParameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - string
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify a datetime value to get items where the specified field is equal to the specified value.


            Example: `?timestamp=2020-02-20T02:40:57Z`.'
          format: date-time
        ne:
          type:
          - string
          - 'null'
          description: '**Not equal** filter mode. \

            Specify a datetime value to get items where the specified field is not equal to the specified value.


            Example: `?timestamp.ne=2020-02-20T02:40:57Z`.'
          format: date-time
        gt:
          type:
          - string
          - 'null'
          description: '**Greater than** filter mode. \

            Specify a datetime value to get items where the specified field is greater than the specified value.


            Example: `?timestamp.gt=2020-02-20T02:40:57Z`.'
          format: date-time
        ge:
          type:
          - string
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify a datetime value to get items where the specified field is greater than equal to the specified value.


            Example: `?timestamp.ge=2020-02-20T02:40:57Z`.'
          format: date-time
        lt:
          type:
          - string
          - 'null'
          description: '**Less than** filter mode. \

            Specify a datetime value to get items where the specified field is less than the specified value.


            Example: `?timestamp.lt=2020-02-20T02:40:57Z`.'
          format: date-time
        le:
          type:
          - string
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify a datetime value to get items where the specified field is less than or equal to the specified value.


            Example: `?timestamp.le=2020-02-20T02:40:57Z`.'
          format: date-time
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is equal to one of the specified values.


            Example: `?timestamp.in=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of datetimes to get items where the specified field is not equal to all the specified values.


            Example: `?timestamp.ni=2020-02-20,2020-02-21`.'
          items:
            type: string
            format: date-time
      x-tzkt-extension: query-parameter
    Int32Parameter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type:
          - integer
          - 'null'
          description: '**Equal** filter mode (optional, i.e. `param.eq=123` is the same as `param=123`). \

            Specify an integer number to get items where the specified field is equal to the specified value.


            Example: `?balance=1234`.'
          format: int32
        ne:
          type:
          - integer
          - 'null'
          description: '**Not equal** filter mode. \

            Specify an integer number to get items where the specified field is not equal to the specified value.


            Example: `?balance.ne=1234`.'
          format: int32
        gt:
          type:
          - integer
          - 'null'
          description: '**Greater than** filter mode. \

            Specify an integer number to get items where the specified field is greater than the specified value.


            Example: `?balance.gt=1234`.'
          format: int32
        ge:
          type:
          - integer
          - 'null'
          description: '**Greater or equal** filter mode. \

            Specify an integer number to get items where the specified field is greater than equal to the specified value.


            Example: `?balance.ge=1234`.'
          format: int32
        lt:
          type:
          - integer
          - 'null'
          description: '**Less than** filter mode. \

            Specify an integer number to get items where the specified field is less than the specified value.


            Example: `?balance.lt=1234`.'
          format: int32
        le:
          type:
          - integer
          - 'null'
          description: '**Less or equal** filter mode. \

            Specify an integer number to get items where the specified field is less than or equal to the specified value.


            Example: `?balance.le=1234`.'
          format: int32
        in:
          type:
          - array
          - 'null'
          description: '**In list** (any of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is equal to one of the specified values.


            Example: `?level.in=12,14,52,69`.'
          items:
            type: integer
            format: int32
        ni:
          type:
          - array
          - 'null'
          description: '**Not in list** (none of) filter mode. \

            Specify a comma-separated list of integers to get items where the specified field is not equal to all the specified values.


            Example: `?level.ni=12,14,52,69`.'
          items:
            type: integer
            format: int32
      x-tzkt-extension: query-parameter
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
x-tagGroups:
- name: REST API
  tags:
  - Accounts
  - BigMaps
  - Blocks
  - Commitments
  - Constants
  - Contracts
  - Cycles
  - Delegates
  - Domains
  - Events
  - Head
  - Helpers
  - Operations
  - Protocols
  - Quotes
  - Rewards
  - Rights
  - SmartRollups
  - Software
  - Staking
  - Statistics
  - Tickets
  - Tokens
  - Voting
- name: WebSocket API
  tags:
  - Get Started
  - Subscriptions
  - Examples
- name: Libraries
  tags:
  - Typescript SDK
  - Taquito extension
